[2019-08-20 13:10] caniekwe opened #1 "NigeriaMRS workflow - Issues with assigning patient identifier"
The patient registration module does not allow options to select a patient program and assign appropriate identifier to the patient

[2019-08-20 13:14] iogbonna opened #2 "Creating dependency drop down in NigeriaMRS"
Ability to populate drop downs dynamically depending on the option selected by a parent drop down.

[2019-08-20 13:17] caniekwe opened #3 "Nigeria MRS workflow - Inability to Sort forms based on patient program"
Forms needs to be displayed based on the program a patient is enrolled in.

[2019-08-20 13:22] iogbonna opened #4 "NigeriaMRS workflow - Unable to make AJAX calls from the UI to the module"
Inability to make JavaScript AJAX call to module using the UI framework

[2019-08-20 13:23] caniekwe opened #5 "Patient Dashboard - Display Patient Identifier of interest on the Patient Dashboard (Header)"
Using the UI framework, the identifier displayed on the patient dashboard is openmrs ID, IDs to display should be dependent on the Patient Programs

[2019-08-20 15:19] arinzeeze opened #6 "NigeriaMRS workflow - Ensure that form filling follows the correct order"

[2019-08-20 15:20] arinzeeze opened #7 "NigeriaMRS workflow - Categorized forms based on the role of the provider"

[2019-08-20 15:24] brightoibe opened #8 "Reporting_NDR_Incomplete HIVEncounter element"
The HIVEncounter only VisitID and VisitDate is exporting on the HIVEncounter element.

[2019-08-20 15:25] brightoibe opened #9 "Reporting_NDR_Incomplete Regimen element"
Regimen element of the NDR export only exports VisitID and VisitDate for ARVs. It was able to export data for Cotrimoxazole and Isoniazid

[2019-08-20 15:26] MrOluGbenga opened #10 "Forms should be exact replicas of GON DTCs"
Ensure all forms are GON DTCs compliant

[2019-08-20 15:27] MrOluGbenga opened #11 "Fast load/submission of data entry forms (optimization)"

[2019-08-20 15:27] MrOluGbenga opened #12 "Point of care data capture limitation"

[2019-08-20 15:28] brightoibe opened #13 "Reporting_NDR_Missing HIVCommonQuestions attributes"
Key attributes like DateDiagnosed, DateOfFirstReport,DateOfLastReport,PregnancyState, EDD do not show up on the HIVCommonQuestion element

[2019-08-20 15:28] MrOluGbenga opened #14 "Challenges with the assignment of future dates (Next Appointment)"

[2019-08-20 15:28] MrOluGbenga opened #15 "Key data quality restrictions/validations not available"

[2019-08-20 15:30] MrOluGbenga opened #16 "Manual "Start Visit" Activation before form Load"

[2019-08-20 15:30] OluGbengae86 opened #17 "Beautiful Form Design template"

[2019-08-20 15:31] brightoibe opened #18 "Reporting_NDR_LongExportTime NDR Export Takes Too Long"
NDR export for very large sites can last for a very long time. We will love the export plugin to be optimized to be faster.

[2019-08-20 15:31] OluGbengae86 opened #19 "Addition of Regimen Dosage to Pharmacy order form"

[2019-08-20 15:36] brightoibe opened #20 "Reporting_NDR State and LGA coding"
State and LGA should follow standard NDR coding

[2019-08-20 15:39] caniekwe opened #21 "NigeriaMRS Workflow - Editing patient registration; data elements not complete when editing"
when the user tries to edit patient registration, address and some other details dont show up

[2019-08-20 15:40] OluGbengae86 commented on #19
The pharmacy form does not have a dosage field for the frequency. It was recommended for efficient documentation

[2019-08-20 15:40] #19 closed

[2019-08-20 15:54] teggsdgreat opened #22 "Data Migration"
1.	Create a Concept Mapping template - current to latest.
2.	Generation of matching dataset from Respective IP EMRs
3.	Develop a unified Data submission tool into NMRS – utility to be developed
         a.  Demographic Information
         b.  Treatment information
                       i.	ART Start Date
                       ii.	Regimen
         c.   Viral Load information
         d.  Addition

[2019-08-20 16:05] MrOluGbenga opened #23 "Sample ID data type is numeric instead of text."
Numeric value in Sample ID should be changed to text.

[2019-08-20 16:20] MrOluGbenga opened #24 "HTML Form Submission via the Java API"

[2019-08-20 16:34] #17 closed

[2019-08-20 16:34] OluGbengae86 commented on #17
Duplicate

[2019-08-20 21:15] meks285 commented on #23
This has been Fixed using the following steps:
1.) Login to the OpenMRS portal as SuperUser
2.) Navigate to System Administration -> Advanced Administration -> Dictionary
3.) Search for concept ID 165028
4.) Click to Open -> Edit
5.) Change DataType from text to Numeric, Check the "Allow Decimal" button.
6.) Click "Save and Continue"/"Save Concept"

Image Below:
![image](https://user-images.github

[2019-08-21 05:01] meks285 commented on #16
**Insight**: It has been reported that facility data entry staff often commence the filling of forms without having to click the "Start Visit" button which results in the form data not being visible/accessible on the NMRS EMR.

One of the three options below can be chosen as the best option to remedy this situation moving forward.

1. Moving all Form Entry links from the Patient Landing Page, leav

[2019-08-21 07:54] dkayiwa commented on #16
If option 2 is chosen, you would use this: https://wiki.openmrs.org/display/docs/HTML+Form+Entry+Module+HTML+Reference#HTMLFormEntryModuleHTMLReference-%3CpostSubmissionAction%3E

Examples can be seen here: https://github.com/search?l=&q=org%3Aopenmrs+CustomFormSubmissionAction&ref=advsearch&type=Code

[2019-08-21 08:08] meks285 commented on #16
Thank You Daniel for the resource, We will be reviewing all options.

[2019-08-21 08:30] multiplechuks opened #25 "Create a Concept Mapping template - current to latest"
This requires a generalized mapping template to be created for all partners to follow during data migrations

[2019-08-21 08:34] JohnboscoJbTech opened #26 "Generation of matching dataset from Respective IP EMRs"
This requires IPs generating a data-set that matches the concept mapping template.

[2019-08-21 08:37] JohnboscoJbTech opened #27 "Develop a unified Data submission tool into NMRS – utility to be developed"
This is a tool that will assist in migrating the generated data from NATIVE EMRs through OPENMRS form API to NMRS. This needs to follow a specific pattern
a. Demographic Information
b. Treatment information
    &nbsp;&nbsp; i.	ART Start Date
    &nbsp;&nbsp;  ii.	Regimen
c. Viral Load information
d. Additional information

[2019-08-21 08:40] JohnboscoJbTech opened #28 "Testing and validation of migrated data - Performance testing"
This is a check on NMRS to check that the migrated data shows up properly

[2019-08-21 08:41] dkayiwa commented on #16
@meks285 did anyone create an issue for preventing certain forms from being filled before others?

[2019-08-21 08:41] JohnboscoJbTech opened #29 "Create a Documentation for data migration into NMRS"
This is data migration guide from any EMR to NMRS

[2019-08-21 08:43] JohnboscoJbTech opened #30 "Ensure a system for updating the concept Dictionary after the boot camp is in place"
This is going to state the after plan of who manages and distributes newly created concept and how the whole process is to be managed

[2019-08-21 08:48] #22 closed

[2019-08-21 08:49] JohnboscoJbTech commented on #22
This was closed because it has to be splitted

[2019-08-21 09:21] meks285 commented on #16
Not Yet.

[2019-08-21 09:22] meks285 commented on #16
@dkayiwa Not Yet.

[2019-08-21 10:20] dkayiwa commented on #6
Is this similar to? https://talk.openmrs.org/t/how-to-conditionally-display-forms/4197/10

[2019-08-21 10:54] caniekwe commented on #6
Yes it is, I have done a follow on to the post, lets see if their is a feedback

[2019-08-21 10:54] caniekwe commented on #16
Yes this was logged and is being handled by the workflow team. [https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/issues/6](url)

[2019-08-21 11:35] dkayiwa commented on #16
How about simply displaying forms only when there is an active visit? That is by using something like: "show If =  visit & visit.active" as documented here: https://wiki.openmrs.org/display/docs/Conditionally+displaying+Apps+and+Extensions

[2019-08-21 11:36] dkayiwa commented on #3
Can you put here a link to the OpenMRS Talk thread where this was asked?

[2019-08-21 11:49] arinzeeze commented on #3
https://talk.openmrs.org/t/display-forms-for-patients-based-on-the-program-s-enrolled/17568

[2019-08-21 12:01] dkayiwa commented on #6
Documentation for the Show If functionality can be found at: https://wiki.openmrs.org/display/docs/Conditionally+displaying+Apps+and+Extensions

[2019-08-21 12:04] lisamurie opened #31 "Concept Mapping of Pharmacy order form"
NMRS forms to concepts global CIEL dictionary concepts

[2019-08-21 12:11] lisamurie opened #32 "Concept mapping PMTCT HTS Register"

[2019-08-21 12:13] lisamurie commented on #32
NMRS form concepts to global CIEL Dictionary concepts

[2019-08-21 12:13] dkayiwa commented on #6
@caniekwe can you look at the response which has just been given on the above talk thread and see if it helps you to move on?

[2019-08-21 12:15] lisamurie opened #33 "Concept mapping of Transfer Form"

[2019-08-21 12:17] lisamurie opened #34 "Concept Mapping vitals"

[2019-08-21 12:18] lisamurie opened #35 "Concept Mapping maternal follow-up form"

[2019-08-21 12:38] caniekwe commented on #6
@nsanmi  Can we look at this in addition to what you are doing [https://talk.openmrs.org/t/how-to-conditionally-display-forms/4197/30 ](url)

[2019-08-21 12:38] lisamurie opened #36 "Concept mapping of Partner register"

[2019-08-21 12:39] caniekwe commented on #6
Yes I have. We will be trying that and the Show If functionality. whichever works for us

[2019-08-21 12:39] lisamurie opened #37 "Concept Mapping Client Intake Form"

[2019-08-21 12:40] lisamurie opened #38 "Concept Mapping Client Referral Form"

[2019-08-21 12:41] lisamurie opened #39 "Concept Mapping Client Tracking and Termination"

[2019-08-21 12:42] lisamurie opened #40 "Concept mapping delivery form"

[2019-08-21 12:43] lisamurie opened #41 "Concept mapping discharge form"

[2019-08-21 12:44] lisamurie opened #42 "Concept mapping of Care Card"

[2019-08-21 12:45] lisamurie opened #43 "concept mapping of child follow up form"

[2019-08-21 12:47] lisamurie opened #44 "Concept Mapping Adult Clinical Evaluation form"

[2019-08-21 12:48] lisamurie opened #45 "Concept mapping of antenatal care details"

[2019-08-21 12:49] lisamurie opened #46 "Concept Mapping of Child birth registration form"

[2019-08-21 12:50] lisamurie opened #47 "Concept mapping of encounter form"

[2019-08-21 12:51] meks285 commented on #23
165028 - Medication Dose (Concept)

[2019-08-21 12:51] lisamurie opened #48 "Concept mapping general antenatal care form"

[2019-08-21 12:52] lisamurie opened #49 "Concept Mapping HIV Enrollment form"

[2019-08-21 12:53] lisamurie opened #50 "Concept mapping - HIV enrollment form"

[2019-08-21 12:55] lisamurie opened #51 "Concept Mapping - IPT (Isoniazid Preventive Therapy) form"

[2019-08-21 12:56] lisamurie opened #52 "Concept Mapping - Pediatric Initial Clinical Evaluation form"

[2019-08-21 13:02] lisamurie commented on #50
Duplicate of Issue #49

[2019-08-21 13:02] #50 closed

[2019-08-21 13:16] lisamurie opened #53 "Generate dataset from legacy EMR based on updated NMRS Data Dictionary - CCFN"

[2019-08-21 13:17] lisamurie opened #54 "Generate dataset from legacy EMR based on updated NMRS Data Dictionary - CIHP"

[2019-08-21 13:18] lisamurie opened #55 "Generate dataset from legacy EMR based on updated NMRS Data Dictionary - IHVN"

[2019-08-21 13:19] lisamurie opened #56 "Generate dataset from legacy EMR based on updated NMRS Data Dictionary - APIN"

[2019-08-21 13:22] lisamurie commented on #26
Issue has been decomposed into sub-tasks and assigned to individuals from each IP

[2019-08-21 13:22] #26 closed

[2019-08-21 13:49] dkayiwa commented on #1
You could start by taking a look at this: https://wiki.openmrs.org/display/docs/Registration+App+Configuration

[2019-08-21 14:35] arinzeeze opened #57 "NigeriaMRS workflow- Preferred Identifier should be displayed on the UI Framework manage patient"

[2019-08-21 15:41] henryvalentine commented on #1
Further discussions will be done on this by @caniekwe @lisamurie @dkayiwa and @henryvalentine tomorrow.

[2019-08-21 15:43] MrOluGbenga commented on #10
Client Intake Form- Status : Good
Client Referral form- Status: Good
Pharmacy Order Form - Status: Good
Client Tracking and Termination Form - Status: Good

[2019-08-21 15:45] nsanmi commented on #6
I was able to implement a conditional check with formEncounterType and formuuid, where the page is to redirect the user to the dashboard if the encountertype for the form has not been filled.

I and the workflow team will together look at the solution provided tomorrow

[2019-08-21 15:58] dkayiwa commented on #15
Is this in any way related to https://wiki.openmrs.org/display/docs/Validation+Module
Or this? https://wiki.openmrs.org/display/docs/Data+Integrity+Module

[2019-08-21 15:58] mustybello opened #58 "Customization of the Nigeria OpenMRS EMR"
Could we also begin to work through NMRS application/homepage customization?

[2019-08-21 16:14] #23 closed

[2019-08-21 16:15] MrOluGbenga commented on #23
Issue resolved by @meks285

[2019-08-21 16:17] talk2morris commented on #24
I have gotten a clue from Daniel to use obs for this

[2019-08-21 16:32] dkayiwa commented on #3
@arinzeeze can you update that openmrs talk thread with a link to the ticket that you created?

[2019-08-21 19:36] dkayiwa commented on #3
@caniekwe or @arinzeeze or any one else, i have curated this ticket to such an extent that it should be simple to take on and fix by any of you guys: https://issues.openmrs.org/browse/RA-1619

[2019-08-21 19:38] dkayiwa commented on #6
@arinzeeze or @caniekwe can you create an openmrs ticket for this just like? https://issues.openmrs.org/browse/RA-1619

[2019-08-22 03:22] abrahamolatubosun1973 commented on #32
HTS PMTCT Register : The form elements have been pull into the template for further matching with Global CIEL  dictionary, possibly completion today

[2019-08-22 05:33] brightoibe opened #59 "Data Entry Missing LMP and EDD on the Adult Initial Clinical Evaluation Forms"
Pregnancy status, EDD and LMP is missing on the Adult Initial Clinical Evaluation Forms. Should be added

[2019-08-22 05:36] brightoibe opened #60 "Data Entry Date Enrolled into ART Program in HIV Enrollement Form is not submitting into the Program Enrollement Table"
Date Enrolled into Program on the HIV Enrollment Form is not submitting into the patient_program table

[2019-08-22 05:40] abrahamolatubosun1973 commented on #60
Great Og Bright the Form Entry and Migration team will look into this and provide feed back.
Thanks

[2019-08-22 05:43] brightoibe opened #61 "The Need for a special baseline form to capture status of patient at start of ART"
There is a need for a seperate form to capture the status of the patient at start of ART. Examples of key variables to be captured in this form include;
Clinical Stage at start of ART
CD4 at Start of ART
Date Initial Adherence Counseling Completed
First Regimen Line at Start of ART
First Regimen at Start of ART
Weight at Start of ART
Height
BMI/MUAC
Functional status at Start
Pregnancy Status at S

[2019-08-22 05:53] brightoibe opened #62 "Data Entry: The need to return variables used for data triangulation back to the Care Card"
Some key variables used by statiticians during data triangulation were removed from the care card. Data Triangualtion usually occurs when those variables are missing from other source documents like (Pharmacy or Lab Form). Variables removed from the care card include;
- ARV Drug Regimen
- Cotrimoxazole Presciption Dose
- INH Prescription Dose
- Other Drugs Prescribed (Text field)
- Test Ordered (C

[2019-08-22 05:56] brightoibe opened #63 "Data Entry: A field to capture NON CODED Variables"
It may not be posible to code all the signs and symptoms, regimens, lab tests, drugs. These concepts should be accompanied by an empty text field to capture their NON CODED valued that the Doctor might want to type.

[2019-08-22 06:00] brightoibe opened #64 "Data Entry : Date Sample Collected should be the Encounter Date of all Lab test"
An Encounter Date is the date a patient had a contact with a service provider. The Label "Visit Date" in Lab Form should be changed to "Date Sample Collected" so that it can become the obs_datetime of the Viral Load and other Lab variables.

[2019-08-22 06:06] brightoibe opened #65 "Data Entry : Names of Diseases, Lab Test, Drugs and Signs and Symptomps should be Answers to a Parent Concept and Not Questions"
This will become a bottle latter during analysis if not adhered to and can impede the scalability of the system. Example instead of having
CD4 Order (Question) with Answers (Yes/No)   ------ Not scalable
Viral Load Order (Question) with Answers (Yes/No)  --- Not scalable
Creatinine Order (Question) with Answers (Yes/No) --- Not scalable
Let us have a parent question
Test Ordered (Question) with an

[2019-08-22 06:10] brightoibe opened #66 "Data Entry: The need for Discontinuation/Interruption Form"
This form is on the front page of the care card and is used by Data Entry clerks to discontinue a patient that has not been coming for a long time. Also can be used by the Doctor to "Stop" a patients ART when there are signs of "Adverse Drug Rection". It contains important data elements like;
Date ART Stoped
Date ART Restarted
Reason for Discontinuation

[2019-08-22 07:18] arinzeeze commented on #3
https://issues.openmrs.org/browse/RA-1620

[2019-08-22 07:44] caniekwe commented on #24
@talk2morris can you put a description of what this issue was and what resolution was taken on this.

[2019-08-22 07:46] caniekwe commented on #4
Same as [https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/issues/2](url).

[2019-08-22 07:46] #4 closed

[2019-08-22 07:59] MrOluGbenga opened #67 "HIV Enrollment Form does not have entry for pregnacy status"
HIV Enrollment Form should include entry for pregnancy status to track EDD and LMP

[2019-08-22 08:20] caniekwe commented on #64
@brightoibe Can we look at what the National tool says and follow that.

[2019-08-22 08:28] caniekwe commented on #57
@arinzeeze  Can you put a description to this issue

[2019-08-22 08:29] caniekwe commented on #14
@MrOluGbenga  Can u put some description to this issue.

[2019-08-22 08:53] caniekwe commented on #14
@elameen221 Can you go through all the forms and confirm that this has been resolved. The forms to look out for:
- Adult Initial Clinical Evaluation form
- Pediatric Initial Clinical Evaluation form
- Care Card

[2019-08-22 09:02] iogbonna opened #68 "NigeriaMRS workflow - Mapping drugs to their regimen"
This issue is for mapping all the drugs to their regimen using the setMember property of the regimen concept

[2019-08-22 09:08] brightoibe commented on #44
The name of this form from National Tool is called "Adult Initial Clinical Evaluation Form" not Adult Clinical Evaluation Form

[2019-08-22 09:19] caniekwe commented on #15
Some requirements should be:
- Validate all date formats
- Range limits for selected data variables
   - Date started on ART should not be before date found eligible for ART
   - Date enrolled in care cannot be before date of birth
   - Vital signs shall be validated against normal human ranges, including:
      - Weight
      - Height
      - Blood pressure
      - BMI
- The system should not all

[2019-08-22 10:14] lisamurie opened #69 "Allow prescription and dispensing of adult regimen/formulation for paeds who meet accepted critera"
**Problem:**
Sometimes a paediatric patient (age<15 years)  may qualify for  an adult  formulation/regimen  based on his/her weight.

Improvement:
We need to make prescription and dispensing of adult formulations/Regimen possible for paeds who meet above criteria possible in NMRS.

[2019-08-22 10:18] JohnboscoJbTech commented on #38
This has been completed as at 8/22/2019 11:18AM

[2019-08-22 10:22] lisamurie opened #70 "Need to create dosage field in Pharmacy Order Form"
**Problem:**
We cannot specify dosage because dosage field is not available on pharmacy order form. We need to separate Frequency (BD, 2BD) from dosage.

**Improvement:**
Current Pharmacy form needs a provision for providing dosage information separate from frequency, this is critical especially for paediatrics.

[2019-08-22 10:22] lisamurie opened #71 "Need to create dosage field in Pharmacy Order Form"
**Problem:**
We cannot specify dosage because dosage field is not available on pharmacy order form. We need to separate Frequency (BD, 2BD) from dosage.

**Improvement:**
Current Pharmacy form needs a provision for providing dosage information separate from frequency, this is critical especially for paediatrics.

[2019-08-22 10:24] lisamurie commented on #71
Duplicate issue created

[2019-08-22 10:47] elameen221 commented on #14
These forms have been checked and the issue with the  **HIV Treatment Follow up form (Care Card - Center Spread)** has been resolved by setting allowFutureDates="true" `<obs conceptId="5096" id="next_appointment" allowFutureDates="true"/>`

[2019-08-22 10:48] JohnboscoJbTech opened #72 "Index Notification Services - Elicitation Not having incremental field"
This is a copy of the form below for explanation purposes

![image](https://user-images.githubusercontent.com/25793425/63508788-88465e00-c4d2-11e9-86c3-2876e09015af.png)

The field can be shown once and an increment button provided to add more rows

[2019-08-22 11:00] caniekwe commented on #71
@lisamurie which of the logged issues is the duplicate of this issue

[2019-08-22 11:30] MrOluGbenga commented on #67
Completed

<td class="alnleft_s">Pregnancy Status</td>
                  <td class="alnleft_s">
                    <obs id="pregnancy_status" style="yes_no_dropdown" conceptId="1434" >
                        <controls>
                            <when value="true" thenDisplay="#edd_label,#edd_text,#lmp_label,#lmp_text"/>
                        </controls>
                    </obs>

[2019-08-22 11:31] MrOluGbenga commented on #67
Completed
[HIV Enrolment form adjustment.txt](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3529850/HIV.Enrolment.form.adjustment.txt)

[2019-08-22 11:55] MrOluGbenga commented on #59
The LMP and EDD are not missing, you just have to select a female patient for the row to display. The row is hidden by default when you select a male patient.

[2019-08-22 11:59] MrOluGbenga commented on #67
Completed
[HIV Enrolment form adjustment.txt](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3529977/HIV.Enrolment.form.adjustment.txt)

[2019-08-22 11:59] #67 closed

[2019-08-22 12:29] michaelnnakwe commented on #52
NMRS section completed

[2019-08-22 12:30] michaelnnakwe commented on #49
NMRS section completed

[2019-08-22 12:47] dkayiwa commented on #1
https://github.com/search?l=&q=org%3Aopenmrs+personAddressWithHierarchy&ref=advsearch&type=Code

https://github.com/openmrs/openmrs-module-registrationapp/blob/master/omod/src/main/webapp/fragments/field/personAddressWithHierarchy.gsp

[2019-08-22 13:07] #59 closed

[2019-08-22 13:08] #14 closed

[2019-08-22 13:24] dkayiwa commented on #20
The available address hierarchy service methods can be found at: https://github.com/openmrs/openmrs-module-addresshierarchy/blob/master/api/src/main/java/org/openmrs/module/addresshierarchy/service/AddressHierarchyService.java

[2019-08-22 13:39] dkayiwa commented on #6
Corresponding OpenMRS ticket created at https://issues.openmrs.org/browse/RA-1620

[2019-08-22 13:51] caniekwe commented on #60
Recheck this again when its all put together.

[2019-08-22 13:51] #60 closed

[2019-08-22 13:53] caniekwe commented on #70
Duplicate of issue no 71 [https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/issues/71](url)

[2019-08-22 13:53] #70 closed

[2019-08-22 13:56] caniekwe commented on #69
Yes. We created the Age category on the pharmacy forms to handle this Instead of filtering the regimens based on patient age

[2019-08-22 13:56] #69 closed

[2019-08-22 14:30] JohnboscoJbTech commented on #37
@lisamurie @nmrs-nigeria/data-migration  the NMRS side of this has been completed

[2019-08-22 14:31] JohnboscoJbTech commented on #40
@lisamurie @nmrs-nigeria/data-migration the nmrs part of this has been resolved

[2019-08-22 14:33] JohnboscoJbTech commented on #41
@lisamurie @nmrs-nigeria/data-migration this form does not contain concepts

[2019-08-22 14:46] abrahamolatubosun1973 commented on #32
In addition to the HTS PMTCT Register, the following forms have also conclude mapping  Pharmacy Order Form, Transfer Form, Vitals. We are yet to compare with the Global CEIL

[2019-08-22 15:41] lisamurie opened #73 "Concept mapping between NMRS concept ids and global CIEL Dictionary"

[2019-08-22 15:42] #32 closed

[2019-08-22 15:43] lisamurie commented on #31
NMRS concept IDs mapped, awaiting mapping to global CIEL

[2019-08-22 15:43] #31 closed

[2019-08-22 15:44] lisamurie commented on #34
NMRS Concepts mapped. awaiting mapping to global CIEL Dictionary

[2019-08-22 15:44] #34 closed

[2019-08-22 15:45] lisamurie commented on #33
NMRS Concept IDs mapped. Awaiting mapping to global CIEL

[2019-08-22 15:45] #33 closed

[2019-08-22 15:49] lisamurie commented on #71
Thanks @caniekwe @Nnalda

[2019-08-22 15:49] MrOluGbenga commented on #10
**Transfer Form - Good**
**Adult Initial Clinical Evaluation Form - Incomplete**

_Symptom review

Genital discharge
Genital itching
New visual imparity
Pain/difficulty when swallowing
Pain (other site)
Oral Sores (Repeated)

Physical exam - (Respiratory)

Auscultation findings (Repeated)
Rate   _________ breaths/min

Physical exam -(Cardiovascular)
Auscultation finding

32a. Regimen
32 b. Drugs i

[2019-08-22 15:49] lisamurie commented on #52
Awaiting mapping to global CIEL

[2019-08-22 15:49] #52 closed

[2019-08-22 15:50] lisamurie commented on #49
Awaiting mapping to global CIEL

[2019-08-22 15:50] #49 closed

[2019-08-22 15:53] lisamurie commented on #44
@brightoibe  noted - thanks. @teggsdgreat

[2019-08-22 15:53] #44 closed

[2019-08-22 15:55] lisamurie opened #74 "Concept Mapping for Laboratory Order and Result form"

[2019-08-22 15:57] michaelnnakwe commented on #74
NMRS section completed

[2019-08-22 15:58] elameen221 commented on #10
Pediatric Initial Clinical Evaluation
**Cardiovascular**: There is no field to specify findings as opposed to the GON form.
Missing out **ART Regimen Field** (Drop down List)

[2019-08-22 15:58] lisamurie commented on #38
Awaiting mapping to global CIEL

[2019-08-22 15:58] #38 closed

[2019-08-22 15:59] lisamurie commented on #40
Awaiting mapping to global CIEL

[2019-08-22 15:59] #40 closed

[2019-08-22 16:04] brightoibe opened #75 "Data Entry: No way to prevent duplicate form entry for a given date"
NMRS has no way to prevent a user from entering data for a form that is already existing. This can result to duplicate values for some concepts that should only occur once per patient

[2019-08-22 16:21] brightoibe opened #76 "Data Entry: Enrollment Forms do not create Visits"
Enrollment Forms does not create Visit in the visit table, because there is no way of starting a visit before entering them.

[2019-08-22 16:27] dkayiwa commented on #76
Can't you automatically create the visit before the form is submitted?

[2019-08-22 16:31] dkayiwa commented on #75
Could this be solved by this post? https://talk.openmrs.org/t/how-to-conditionally-display-forms/4197/30

[2019-08-23 08:09] arinzeeze commented on #57
![dashboard](https://user-images.githubusercontent.com/54318558/63577140-aae57f00-c585-11e9-9a33-029416907825.PNG)

[2019-08-23 08:10] arinzeeze commented on #57
The identifier should be the patients' hospital number and not openmrs ID

[2019-08-23 08:39] caniekwe commented on #57
Melody seems to have found a solution for this.

[2019-08-23 08:49] dkayiwa commented on #57
@caniekwe what is Melody's github id?

[2019-08-23 09:00] lisamurie commented on #74
Awaiting mapping to global CIEL concept Dictionary

[2019-08-23 09:00] #74 closed

[2019-08-23 09:41] opssondesigns opened #77 "Validation restriction in Hiv Enrollment form"
Validation restriction in Hiv enrollment form allows Date Confirmed HIV+ to be greater than Date Enrolled in Care.

[2019-08-23 09:48] JohnboscoJbTech commented on #77
@opssondesigns this is validated on the live server, please check the version of the database you have...

Check [here](http://41.76.248.129:8080/openmrs/login.htm)

[2019-08-23 09:58] opssondesigns opened #78 "Missing Data Field"
Date transferred in and ART Start Date missing in Hiv Enrollment form on the live server

[2019-08-23 10:40] lisamurie commented on #37
Awaiting mapping to global CIEL Dictionary

[2019-08-23 10:40] #37 closed

[2019-08-23 10:42] lisamurie commented on #36
Awaiting mapping to global CIEL Dictionary

[2019-08-23 10:42] #36 closed

[2019-08-23 10:44] lisamurie commented on #42
Awaiting mapping to global CIEL Dictionary

[2019-08-23 10:44] #42 closed

[2019-08-23 10:47] teggsdgreat commented on #46
mapping completed

[2019-08-23 10:48] teggsdgreat commented on #45
mapping completed

[2019-08-23 10:48] teggsdgreat commented on #43
mapping completed

[2019-08-23 10:51] michaelnnakwe commented on #47
Dummy form designed for training purposes.

[2019-08-23 10:52] lisamurie commented on #46
Awaiting mapping to global CIEL Dictionary

[2019-08-23 10:52] #46 closed

[2019-08-23 11:25] lisamurie commented on #45
Awaiting mapping to global CIEL Dictionary

[2019-08-23 11:25] #45 closed

[2019-08-23 11:26] lisamurie commented on #43
Awaiting mapping to global CIEL Dictionary

[2019-08-23 11:26] #43 closed

[2019-08-23 12:23] nsanmi commented on #6
NMRS section completed.
All forms has been conditioned according to programs area and data entry clerks can now access required forms for specific program areas.

[2019-08-23 12:25] dkayiwa commented on #6
@nsanmi i think you were meant to comment on another issue. 😊

[2019-08-23 12:31] MrOluGbenga commented on #10
National PMTCT HTS Register - Good
Partner Register - Good

[2019-08-23 12:36] nsanmi commented on #6
@arinzeeze and @caniekwe .
I think this NMRS section is completed.
UI conditions has been implemented based on @arinzeeze  modification to the new coreapp module.
All forms has been conditioned according to programs area and data entry clerks can now access required forms for specific program areas.

[2019-08-23 12:41] nsanmi commented on #3
@arinzeeze and @caniekwe .
I think this NMRS section is completed.
UI conditions has been implemented based on @arinzeeze modification to the new coreapp module.
All forms has been conditioned according to programs area and data entry clerks can now access required forms for specific program areas.

[2019-08-23 12:49] dkayiwa commented on #3
This cannot be considered done because there is no commit any where. So we do not know where the changes for this new feature, are.

[2019-08-23 12:55] JohnboscoJbTech commented on #39
The NMRS form mapping for this has been done

[2019-08-23 12:59] minixter commented on #35
Checked

[2019-08-23 12:59] abrahamolatubosun1973 commented on #51
The mapping of this form is completed

[2019-08-23 13:28] enumahin commented on #57
enumahin@gmail.com

On Fri, 23 Aug 2019, 09:49 dkayiwa, <notifications@github.com> wrote:

[2019-08-23 13:29] dkayiwa commented on #57
@enumahin do you mind sharing your solution here?

[2019-08-23 15:30] MrOluGbenga opened #79 "Update Adult Initial Clinical Evaluation Form"
Add the following fields to Adult Initial Clinical Evaluation Form

**Under Symptom review**

Genital discharge
Genital itching
New visual imparity
Pain/difficulty when swallowing
Pain (other site)
Oral Sores (Repeated)

**Physical exam - (Respiratory)**

Auscultation findings (Repeated)
Rate _________ breaths/min

**Physical exam -(Cardiovascular)**

Auscultation finding

Next appointment

Add te

[2019-08-23 15:35] MrOluGbenga opened #80 "Update Adult Clinical Evaluation"
Change name to  "Adult Initial Clinical Evaluation"

Concept:	-> Tuberculosis disease status (1659)
Answers:

3. TPT(IPT) -> On treatment for disease (1662) (Is Wrongly mapped, should be Isoniazid Preventive Treatment Program - 164128)

Concept:	-> Stop ART (165360) - Change name to "Reason for stop"

Concept:	-> Stop ART (165360) - Change name to "Reason for substitution" and re-map

[2019-08-23 16:54] brightoibe opened #81 "Data Entry : TB Status on Adult Initial Clinical Evaluation Form has a wrongly mapped answer for ON IPT"
TB Status on Adult Initial Clinical Evaluation Form is supposed to have 5 options;
1. No signs = no signs or symptoms of TB
2. Presumptive TB = Patient with signs and symptoms of TB and referred for evaluation
3. IPT = Currently on INH prophylaxis
4. Confirmed TB = Patient has active TB
5. TB Treatment = Currently on TB treatment

[2019-08-23 18:38] talk2morris opened #82 "Working option(an item on functional status) is mapped to a different concept ID on Card Card"
The concept ID for item 'Working' is mapped to a different concept ID that is not among the list of coded values for Functional Status.

[2019-08-23 19:38] lisamurie opened #83 "Update NMRS Data Dictionary with the harmonized CIEL concepts mapped"

[2019-08-23 19:40] lisamurie opened #84 "Develop a how to guide for using the data migration utility tool"

[2019-08-23 21:16] talk2morris commented on #24
The request talks about a clean way of posting to htmlforms via the Java API, I mean an API that maybe takes the formID and the concept and values as a map, if this was available one could neatly integrate this into a data migration utility from other EMR to NigeraMRS. This is a feature I would love to see in future versions of openmrs.

[2019-08-23 21:18] #24 closed

[2019-08-23 22:46] opssondesigns opened #85 "Next Appointment Date pre-filled with admin (Login details)."
Next Appointment Date for HIV Treatment Follow up form (Care Card) is pre-filled with admin (Login details).

[2019-08-24 03:46] talk2morris commented on #85
I thought we agreed that you will handle this

[2019-08-24 09:03] Nnalda opened #86 "Legacy Regimen Migration"
I suggest we compile a list of all existing regimens (in all legacy EMRs) across all facilities grouped as “active” and “Inactive” and have them included on NMRS for a successful migration.

**Issue**
Not all legacy regimens are currently listed in NMRS

[2019-08-24 10:30] enumahin commented on #57
@dkayiwa I actually discovered that it's the preferred Identifier that appears there, so @henryvalentine is working on displaying multiple identifiers at patient registration level the problem will be solved permanently from there.

I am also looking into displaying multiple identifiers on the patient search page. like OpenMRS ID, Preferred Identifier and Hospital Number.

[2019-08-24 10:32] JohnboscoJbTech commented on #72
@enumahin this issue can be see on the Client Intake Form

[2019-08-24 11:05] enumahin commented on #72
Okay bro. i have actually fixed it using below explained Algorithm.

**Solution**

- I added a button on the table row

- placed JS function to be called onclick passing the element(this) to the function.

- in the function body i cloned the element.parentNode.parentNode which is the tr tag and inserted the clone into the element's parentNode.parentNode.parentNode which is the table.

- I did the

[2019-08-24 11:17] enumahin commented on #72
<htmlform>
    <macros>
        paperFormId = (Fill this in)
        headerColor =#2f1c55
        fontOnHeaderColor = white
    </macros>
    <style>
        .section {
        border: 1px solid $headerColor;
        padding: 2px;
        text-align: left;
        margin-bottom: 1em;
        }
        .sectionHeader {
        background-color: #2f1c55;
        color: white;
        /* display: blo

[2019-08-24 12:08] MrOluGbenga commented on #79
These issues have been resolved. Repeated fields have been removed while missing fields have been added.

 "Other" check boxes now open additional text field when clicked.

[Adult Initial Clinical Evaluation Form - Adjustments.txt](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3537158/Adult.Initial.Clinical.Evaluation.Form.-.Adjustments.txt)

[2019-08-24 12:38] MrOluGbenga commented on #80
Located the right concept ID for TPT(IPT) (164128). Changes will be effected on the live server.

[2019-08-24 12:52] gibrilg commented on #1
I will be adding the new JSON registration app to the patient registration page with access based location (optional)

[2019-08-24 13:48] talk2morris opened #87 "Some Codetypes Mapping missing on NDR xsd"
I noticed that some codetypes mapping are missing on the current NDR xsd version 1.3...so going forward any related items should come in here as a comment on this issue.

[2019-08-24 13:50] talk2morris commented on #87
I noticed that some codetypes mapping are missing on the current NDR xsd version 1.3...so going forward any related items should come in as here as a comment on this issue.

[2019-08-24 14:29] wonderfulguru1 commented on #13
Key attributes now showing as required. I corrected the concept ID in the concept mapping dictionary
and set the appropriate nodes

[2019-08-24 14:29] #13 closed

[2019-08-24 14:43] michaelnnakwe commented on #48
NMRS Section completed

[2019-08-24 15:24] teggsdgreat commented on #53
(1) Resolved an issue of migrated provider not showing as a select option in various forms. To do this we ensured provider information is present in the following tables;
openmrs.person;
openmrs.person_name;
openmrs.users;
openmrs.user_role;
openmrs.providermanagement_provider_role;
openmrs.provider;

(2) Mapping NMRS concept IDs to CCFN native EMR is still ongoing

[2019-08-24 15:24] talk2morris commented on #87
Also on the xsd, the codetypes for NotedSideEffects is missing, while the NDR Dictionary the codetypes are as follows:

1 | Nausea/vomiting
-- | --
2 | Headache
3 | Insomnia/bad   dreams
4 | Fatigue/weakness
5 | PV   bleeding/discharge
6 | Rash
7 | FAT changes
8 | Anemia
9 | Drainage of   liquid
10 | Stevens   Johnson syndrome
11 | Hyperglycemia

[2019-08-24 15:25] #79 closed

[2019-08-24 15:56] elameen221 commented on #10
**HIV Enrollment Form and Care Card 1 form are similar**
Under Enrollment Details
   - Baseline Screening - Missing
   - Opportunistic Infections - Missing
   - ART Initiation not exactly the same - Missing

**General Antenatal Care Form : Complete**
**Maternal Follow  up Form** (To be reviewed whether to be discarded or not)
  - All fields are complete (but some are not working as they should)

[2019-08-25 10:33] JohnboscoJbTech commented on #25
@dkayiwa am following up on the Global Concept @lisamurie requested pulled so we can compare with what we have

[2019-08-25 10:48] #51 closed

[2019-08-25 10:48] lisamurie commented on #51
Awaiting mapping to global CIEL concepts

[2019-08-25 10:51] lisamurie commented on #53
@teggsdgreat thanks. Can we move this comment  (1) to the discussion page on the Data Migration  Team page?

[2019-08-25 10:53] lisamurie commented on #53
@teggsdgreat also create an issue describing issue (1) and comment how resolved it before closing it. Please tag me -  thanks.

[2019-08-25 10:54] lisamurie commented on #48
Awaiting mapping to global CIEL concepts

[2019-08-25 10:54] #48 closed

[2019-08-25 10:54] lisamurie commented on #39
Awaiting mapping to global CIEL concepts

[2019-08-25 10:54] #39 closed

[2019-08-25 10:55] lisamurie commented on #35
Awaiting mapping to global CIEL concepts

[2019-08-25 10:55] #35 closed

[2019-08-25 13:05] ahmedsylvanus commented on #10
Can we have the list of your comparison with their status itemized in an excel sheet. It will be better to track missing fields to be added to identified forms.

[2019-08-26 08:05] caniekwe commented on #80
@MrOluGbenga did you have a discussion with data migration team?

[2019-08-26 09:34] MrOluGbenga commented on #78
"Date transferred in" and "ART Start Date" are both available on the Hiv Enrollment form, you only need to make the right selection on the switch of the preceding question.

Selecting "Yes" for "Was patient transferred in from another facility" gives you extra fields including "Date transferred in".

Selecting "Yes" for "Was patient previously on ART" gives you extra fields including "ART Start Da

[2019-08-26 10:12] #78 closed

[2019-08-26 10:20] #12 closed

[2019-08-26 10:53] MrOluGbenga commented on #81
This has been fixed on my local system. The concept ID (166067) required to fix it on the live server is not available on the live server.

[2019-08-26 11:09] caniekwe commented on #87
@wonderfulguru1 you can work on

- DurationOnArt
- PatientFamilyPlanningMethodCode
- FunctionalStatus

@emadubuko can work on these
- OtherOIOtherProblems
- WhyPoorFairARVDrugAdherence
- CD4
- CD4TestDate

[2019-08-26 11:52] elameen221 commented on #10
**Pediatric Initial Clinical Evaluation** - Complete
The **Other** check box now opens an additional text field to specify findings.
ART Regimen Field (Drop down List) has been added

[2019-08-26 13:35] MrOluGbenga commented on #10
PLHIV Presumptive TB Screening and INH Preventive Therapy (IPT) Monitoring - Good

Child Birth Information - Incomplete
DOB, Age, Infant's Name, Sex are all missing on the electronic form

[2019-08-26 14:51] elameen221 commented on #61
**PMTCT Delivery Register** - Complete

[2019-08-26 14:53] elameen221 commented on #10
**PMTCT Delivery Register** - Complete

[2019-08-26 15:39] elameen221 commented on #61
A new form called **ART Commencement Form** has been created, it captures all the details listed above.

![ART_C_form](https://user-images.githubusercontent.com/17188731/63702956-ea2efc80-c81f-11e9-84ff-2c7bba341974.png)

The **INH Stop date** concept id is currently not in the concept dictionary, the data migration team would need to include this ID in the dictionary for this field to be activate

[2019-08-26 16:19] #15 closed

[2019-08-26 17:04] michaelnnakwe commented on #56
Forms Completed so far
1. Laboratory form
2. Pediatric Initial Clinical Evaluation
3. Adult Initial Clinical Evaluation
4. Pharmacy form

[2019-08-26 17:12] teggsdgreat opened #88 "Encounters tool-tip when viewing visits"
The list of previously saved encounters (forms) on the patient page when viewing visits only shows the visit date, it would be nice to have the various under-listed encounters as a tool-tip when you hover on a specific visit.

[2019-08-26 17:28] elameen221 commented on #61
**ART Commencement Form**
The INH **Stop date** concept id `<td><obs conceptId="166096"/></td>`  is currently not in the concept dictionary, the data migration team would need to include this ID in the dictionary for this field to be activated.

[2019-08-26 17:33] gibrilg commented on #58
This is quite possible, I can replicate this to the live server. Are we going with the Nigeria coat of arm?

[2019-08-26 17:33] elameen221 opened #89 "ART Commencement Form: Missing Concept ID in the Dictionary"
ART Commencement Form
The INH Stop date concept id <td><obs conceptId="166096"/></td> is currently not in the concept dictionary, the data migration team would need to include this ID in the dictionary for this field to be activated.

 @elameen221

[2019-08-26 17:33] elameen221 opened #90 "ART Commencement Form: Missing Concept ID in the Dictionary"
**ART Commencement Form** (newly created)
The INH **_Stop date_** concept id `<td><obs conceptId="166096"/></td>` is currently not in the concept dictionary, the data migration team would need to include this ID in the dictionary for this field to be activated.

 @elameen221

[2019-08-26 18:16] lisamurie commented on #90
@abrahamolatubosun1973 @teggsdgreat could you please follow up on this. Is "ART Commencement Form" a new form? or same as Adult/Paediatric Initial Evaluation forms?

[2019-08-27 06:30] Nnalda opened #91 "Paperless Point-of-Care NMRS Optimization;"
NMRS needs to have 2 modes of operation;
- Paper-based mode (retrospective data entry) or
- Paperless point of care mode (Real-time data entry)
The default mode is the paper-based mode (retrospective data entry), with a radio button to activate the paperless point of care mode (Real-time data entry) mode if required.

A fully optimized paperless point of care mode especially on forms requiring mul

[2019-08-27 07:54] caniekwe commented on #86
@Nnalda thank you for raising this. Can we all extract from our legacy EMR systems the list of all regimens ever documented
@teggsdgreat can you get us this from SEEDSCare and IQCare
@michaelnnakwe can you get us this from CISPro and FileMakerPro
@brightoibe - can you get us this for IHVN's openmrs
@abrahamolatubosun1973 can you get us this from PWIS.

If we can quickly generate this and share thi

[2019-08-27 09:46] caniekwe commented on #68
@Nnalda We need to map the drugs to the regimens so we can implement that in the workflow under the pharmacy form. What we intend to achieve with this:

When the user selects a regimen, we want that only the drugs that make up the regimen combination is populated for the user to provide details as per (dose, strength and frequency). Kindly help us map these regimens attached to the respective drug

[2019-08-27 10:16] MrOluGbenga commented on #85
This issue is browser dependent. It is the browser that decides when to prefill the field, there is no code doing the prefilling.

However, there is a validation preventing the form from submitting when a date ahead of the encounter date has not been selected.

This issue should be closed.

[2019-08-27 10:20] teggsdgreat opened #92 "Option for Database backup from front end"
1. There is no database backup module installed
2. The option for users to backup NigeriaMRS database from front end does not existing

[2019-08-27 10:21] teggsdgreat commented on #92
This is done now. The database backup module was installed and the icon added to the front end

[2019-08-27 10:25] #92 closed

[2019-08-27 10:49] dkayiwa commented on #92
https://wiki.openmrs.org/display/docs/Database+Backup+Module

[2019-08-27 12:04] teggsdgreat commented on #86
Find here list of the various regimen combination for SEEDSCare and IQCare
[seedscare-iqcare_regime.xlsx](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3545959/seedscare-iqcare_regime.xlsx)

[2019-08-27 12:09] gibrilg opened #93 "Moving NMRS program tools from patient clinical facing page to visit page"
Forms that were under general action stacked on the patient clinical facing page will be a move to visit action to allow users access program tools from the patient visit page

[2019-08-27 12:11] michaelnnakwe commented on #86
Please attached Regimen combinations from CisPRO and FileMaker PRO

[cispro__filemaker_regimen.xlsx](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3545979/cispro__filemaker_regimen.xlsx)

[2019-08-27 12:14] gibrilg opened #94 "Adding sections to all clinical forms by program area i.e. 'PMTCT, ART, HTS etc"
Grouping all clinical forms by their program area, for instance, all ART related tools will be grouped/added under ART program with only ART forms appearing.

[2019-08-27 12:19] gibrilg commented on #93
This will allow users to start visit and the system will automatically end visit when the visit attribute is set to end at 11:59 PM.

[2019-08-27 12:23] gibrilg opened #95 "Creating a new JSON reporting App with a fat tab button on the homepage for all program area reports"
This is different from the previous reporting interface, this new app allows users to manage report via the Reference Application UI and likewise give you the option of choosing whether to preserve generated reports for future use.

[2019-08-27 12:26] gibrilg commented on #16
The scope of this has changed this morning right after the delibrations, its currently being reviewed and will present the update soon.

[2019-08-27 14:06] #85 closed

[2019-08-27 14:11] MrOluGbenga commented on #81
The changes have been uploaded to the live server.

[2019-08-27 14:28] brightoibe commented on #75
The list of the forms that should not be entered more than once, include;

Adult Initial Clinical Evaluation
Pediatric Initial Clinical Evaluation
HIV Enrollment Form
ART Commencement Form

[2019-08-27 16:51] elameen221 commented on #10
**HIV Treatment Follow up form (Care Card - Center Spread) : Incomplete**
***Missing Fields***
Under **ARV Drugs**
 - Regimen - missing

Under **COTRIMOXAZOLE**
 - Dose - missing

Under **INH**
 - Dose missing

Other Drugs Prescibed - missing
CD4 - missing
Viral Load - missing
Other Tests Done - missing
Consult Hospitalise Refer Link -missing

[2019-08-27 17:27] elameen221 commented on #75
These forms have been checked and fixed, below is the code snippet added to each form the fix the problem
[code]
With each **formUuid**  set to `formUuid=Enter value here`
and each form **formEncounterType** set to `$fn.latestEncounter('Enter value here')`

[2019-08-27 21:43] meks285 commented on #71
I just created the Dosage Field on the Pharmacy order form with the Concept: MEDICATION DOSE (ConceptId: **165028**, DataType: **Text**) but got a Warning.

Warning! obs concept (**165028**) does not belong to the 162240 obs group set.

When I checked the **162240** obs group set I found the Following as its Members:
ARV Medication (**165724**)
ARV Drug Strength (**165725**)
Drug Frequency (**1657

[2019-08-27 21:46] meks285 commented on #16
This is noted.

[2019-08-27 21:52] meks285 commented on #82
Below are the Members of the obs group:
Physically able to work (**159468**)
Patient ambulatory (**160026**)
Bedridden (**162752**)

Formally the Physically able to Work (Working) member was assigned the ConceptId: **160027**

However, this has now been changed to ConceptId: **159468** and the Form saved successfully.

[2019-08-27 22:16] enumahin commented on #71
Brother,

Did you try adding your newly created concept to ARV Regime's (162240) obs group set?

Best Regards

[2019-08-27 23:21] Nnalda commented on #86
I hope I have not missed OpenMRS and PWIS lists?

[2019-08-28 04:05] brightoibe commented on #86
Am compiling the one for OpenMRS right away.

Thanks

    On Wednesday, August 28, 2019, 12:21:10 AM GMT+1, Nnalda <notifications@github.com> wrote:

I suggest we compile a list of all existing regimens (in all legacy EMRs) across all facilities grouped as “active” and “Inactive” and have them included on NMRS for a successful migration.

Issue
Not all legacy regimens are currently listed in NMRS

[2019-08-28 04:34] brightoibe commented on #86
Hello Sir,     Find attached OpenMRS drugs and regimen.

My Proposal1. Let us seperate Regimens and Drugs as different concepts in OpenMRS.
    Regimens can only exist in 3 or 4 combinations and they are coded. But drugs can exist only in the form dispensed
    by pharmacist.2. Some of the drugs are already existing in NMRS dictionary. Lets verify before we actually create them
I don't have push a

[2019-08-28 07:04] meks285 commented on #71
Medication Dose is not a newly created Concept.

It's already existing and does not belong to the ARV obs group.

So we have to decided either to add it to the obs group or create a new concept and add to obs group.

However, we may have to decide that collectively. That's why I left it open.

[2019-08-28 07:42] dkayiwa commented on #71
Why would you create a new one if it already exists? 😊

[2019-08-28 07:48] #81 closed

[2019-08-28 08:04] meks285 commented on #71
Creating the Concept for ARV Regimen Dosage on the Dev Server returns with an error:

_Request processing failed; nested exception is org.hibernate.PropertyValueException: not-null property references a null or transient value : org.openmrs.ConceptNumeric.dateCreated_

Morris is looking into it.

We can alternately add Concept: **MEDICATION DOSE (ConceptId: 165028, DataType: Text)**  to the ARV re

[2019-08-28 08:14] dkayiwa commented on #71
Are you able to reproduce the same problem on a local instance?

[2019-08-28 08:33] brightoibe opened #96 "ARV Drugs Adherence Concept Answers on the Care Card are wrongly mapped"
Fair was mapped to Poor
and
Poor was mapped to Fair
Also it will be nice to arrange the drop down the same way it was arranged on the paper form e.g Good,Fair,Poor  and not Fair, Good, Poor

[2019-08-28 08:35] ahmedsylvanus commented on #90
@abrahamolatubosun1973  @teggsdgreat @michaelnnakwe  any update on this

[2019-08-28 09:23] #82 closed

[2019-08-28 09:35] #80 closed

[2019-08-28 09:40] gibrilg commented on #93
This issue is completed

[2019-08-28 09:40] #93 closed

[2019-08-28 10:11] #77 closed

[2019-08-28 10:21] #75 closed

[2019-08-28 10:25] ahmedsylvanus commented on #89
This is a duplicate of Issue 90

[2019-08-28 10:25] #89 closed

[2019-08-28 11:01] meks285 commented on #96
Noted

[2019-08-28 11:02] meks285 commented on #71
No, the Local Instance creates Concepts normally.

[2019-08-28 13:07] meks285 commented on #71
The Concept ARV Medication Dosage (166121) has been successfully created and added to the ARV regimen obs group.
The Dosage Data Element has also been added to the Pharmacy Form.

This issue is ready for Closure

[2019-08-28 13:13] meks285 commented on #96
This has been resolved.

Recommended for Closure.

[2019-08-28 13:25] ahmedsylvanus commented on #16
The fix for this issue already exists in OpenMRS

1. Click on Administration
2. Click configure visit
3. Click the check boxes 'Enable visit' and 'start auto close visits task'
4. Select 'facility' in the 'Visit types to auto close' option
5. Save configuration
Visit will be auto started upon form submission and will be auto closed in 24 hours

[2019-08-28 13:25] #16 closed

[2019-08-28 13:45] brightoibe opened #97 "Data Integrity Module for NMRS"
Can someone please check the module repository for a data integrity module that will be compatible with our NMRS.
The Data Integrity Module allows you to specify a particular data quality criteria and fish out all patient RECORDS or FORMS that violate that criteria. It can also be used by DAs to validate their data before uploading to NDR.

[2019-08-28 14:04] meks285 commented on #71
On a second thought, Is there a possible range/limit for ARV Dosage?

cc @Nnalda

[2019-08-28 14:24] #96 closed

[2019-08-28 14:26] brightoibe commented on #71
I think we should leave it open. Some drugs exist in syrup form and their dosage could be large.

[2019-08-28 14:42] ahmedsylvanus commented on #71
so we can have 2 fields for Dosage. One for drugs and another for syrups, with a logic that disables one when the other is selected.

[2019-08-28 14:44] ahmedsylvanus commented on #94
This has been implemented by @nsanmi

[2019-08-28 14:44] #94 closed

[2019-08-28 14:46] ahmedsylvanus commented on #76
Doesn't the auto create and close visit solve this issue??

[2019-08-28 14:59] Nnalda commented on #71
And for drugs, you mean tablets or captures. We can have the following in a select list.

- 0.5
- 1
- 1.5
- 2
- 2.5
- 3
- 3.5
- 4
- 4.5
- 5
- 5.5
- 6

[2019-08-28 15:01] Nnalda commented on #71
May be up to 10 max. Not sure.

[2019-08-28 15:09] brightoibe commented on #71
If we leave it open, the browser will catch the popular "doses" in drop down list automatically.
Thanks

    On Wednesday, August 28, 2019, 4:01:16 PM GMT+1, Nnalda <notifications@github.com> wrote:

May be up to 10 max. Not sure.

—
You are receiving this because you commented.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-28 15:12] meks285 commented on #71
So are we leaving it open or controlling it?

[2019-08-28 16:04] meks285 commented on #71
This has been implemented.

Range of acceptable Dosage is 0.5 - 10.

[2019-08-29 05:02] abrahamolatubosun1973 commented on #54
Mapping of CIHP EMR dataset to the NMTS data dictionary is 76% completed, this will be conclude by the end of today

[2019-08-29 08:41] teggsdgreat commented on #90
This is resolved, the concept is present in NMRS but not in the global concept dictionary

[2019-08-29 09:55] #72 closed

[2019-08-29 10:07] #61 closed

[2019-08-29 10:07] meks285 commented on #66
Noted.

To work on this, I will need to have access to the GON Discontinuation form.

[2019-08-29 10:30] lisamurie commented on #90
@teggsdgreat how has this been resolved?

[2019-08-29 10:32] lisamurie commented on #95
@gibrilg could you please provide link to relevant resources?

[2019-08-29 10:41] #71 closed

[2019-08-29 11:23] Nnalda commented on #71
Hi Sylvanus,
Your earlier suggestion of one field for tablets and another for syrups, with a logic that disables one when the other is selected, should be fine. This should cover most of our scenarios but if any others come up, we should be able to include those centrally.

[2019-08-29 12:27] gibrilg commented on #95
Check this out: https://wiki.openmrs.org/display/docs/System+Administration%3A+Manage+Apps

[2019-08-29 12:37] Nnalda commented on #71
I am targeting to send the harmonized list of ART regimens and corresponding ARV formulations tonight.

[2019-08-29 12:41] Nnalda commented on #86
I am working towards sending the harmonized list of ART regimens and the corresponding formulations tonight.

[2019-08-29 13:14] #47 closed

[2019-08-29 13:16] abrahamolatubosun1973 commented on #47
Kindly comment on the reason you for closing this issue

[2019-08-29 13:18] #41 closed

[2019-08-29 13:43] brightoibe commented on #66
It is at the front page of the Care Card.
Thank you

    On Thursday, August 29, 2019, 11:07:54 AM GMT+1, Ifechelobi Chukwuemeka <notifications@github.com> wrote:

Noted.

To work on this, I will need to have access to the GON Discontinuation form.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-08-29 18:16] dkayiwa commented on #3
I would not recommend closing this because the code is not committed any where that am aware of. 😊

[2019-08-30 10:29] talk2morris opened #98 "No mapping for PV bleeding/discharge on Noted Side Effects on Card Card"
On the Care Card the option for PV bleeding/discharge is mapped to Rash, the actual concept ID for PV bleeding/discharge is 165767.

[2019-08-30 10:44] #98 closed

[2019-08-30 15:09] #76 closed

[2019-08-30 15:12] teggsdgreat commented on #90
@lisamurie  We are putting together all the new concepts for follow up in adding them to the global dictionary

[2019-08-30 15:13] #90 closed

[2019-08-30 15:34] meks285 commented on #66
This has been created

[2019-09-01 09:46] #58 closed

[2019-09-01 15:14] michaelnnakwe commented on #56
Please find attached completed mapping file for APIN

[APIN_dataset_legacy_EMR_on_updated_NMRS_Data_Dictionary.xlsx](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3563631/APIN_dataset_legacy_EMR_on_updated_NMRS_Data_Dictionary.xlsx)

[2019-09-01 16:25] elameen221 commented on #10
**Update**

1. **Child Birth Information Form** was newly introduced, originally there was no _Child Birth Information GON form_, so this form is complete.

2. **HIV Treatment Follow up form (Care Card - Center Spread)** - The  missing fields on this form exist on the Laboratory Order and Result Form, so  there is no need including them in here.

3. **HIV Enrollment Form** - The missing fields on

[2019-09-01 19:22] gibrilg commented on #58
This is completed, the Nigeria coat of arm is added alongside the NigeriaMRS distribution name.

[2019-09-01 19:39] gibrilg commented on #5
Currently, the fix only shows PEPFAR ID as the predefine ID at the header section of the patient clinical facing page

[2019-09-01 19:40] gibrilg commented on #5
Currently, the fix only shows PEPFAR ID as the predefine ID at the header section of the patient clinical facing page. But I think this can be improved on to program-specific.

[2019-09-01 20:09] mustybello commented on #58
Great work, Gibril.

[2019-09-02 15:01] emadubuko commented on #20
The NDR coded value for each state and LGA has been inserted into the user_generated_id column of the address_hierarchy_entry table. The ndr export module will query this table using the values from the patient_address.

Download this attached zip and run the file to create the address_hierarchy_table with the correct NDR coded value

[address hierarchy table.zip](https://github.com/nmrs-nigeria/o

[2019-09-02 15:01] #20 closed

[2019-09-02 16:18] Nnalda commented on #86
Dear Colleagues,
The harmonized list of regimens and corresponding drug formulations is attached.

[Harmonized_ART_Regimen_List_NMRS_v1.xlsx](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/3566664/Harmonized_ART_Regimen_List_NMRS_v1.xlsx)

[2019-09-02 19:09] talk2morris commented on #87
@caniekwe we discussed, the agreed way to captured these is to use comma separation for each item

[2019-09-02 19:10] #87 closed

[2019-09-02 22:33] teggsdgreat commented on #53
Data set for CCFN EMRs have been generated and test carried out to check validity of the generated data set. This is okay and done.

[2019-09-02 23:44] lisamurie commented on #53
thanks Teggs

[2019-09-03 14:44] #66 closed

[2019-09-04 11:18] brightoibe commented on #9
Fixed.

[2019-09-04 11:19] #9 closed

[2019-09-04 14:27] Nnalda opened #99 "NMRS contact and Care Tracking Form to include Tx_ML outcomes"
Hello Colleagues,
I think we should take care of this right away.

NMRS Contact and Care Tracking Form needs to include the following Tx_ML outcomes.
- Undocumented/self transferred out
- Tracked unable to locate
- Have not attempted to trace yet
- Traced but refuse treatment
- Traced and returned to treatment

"Issue"
The provision for "other" does not currently allow typing of the detailed reaso

[2019-09-07 08:33] ahmedsylvanus commented on #84
This has been done

[2019-09-07 08:33] #84 closed

[2019-09-07 08:33] ahmedsylvanus commented on #73
This has been done

[2019-09-07 08:34] #73 closed

[2019-09-07 08:35] ahmedsylvanus commented on #57
@henryvalentine Please comment on your fix for this.

[2019-09-07 08:36] #57 closed

[2019-09-07 08:40] ahmedsylvanus commented on #68
The Mapping is done and will be shared.

[2019-09-07 08:40] #68 closed

[2019-09-07 08:53] #56 closed

[2019-09-07 08:53] #54 closed

[2019-09-07 08:54] #53 closed

[2019-09-07 08:56] ahmedsylvanus commented on #29
The guide has been drafted and will be shared.

[2019-09-07 08:56] #29 closed

[2019-09-07 08:57] ahmedsylvanus commented on #27
The Migration utility has been implemented.

[2019-09-07 08:57] #27 closed

[2019-09-07 09:02] ahmedsylvanus commented on #11
This issue is system dependent. An extensive test was conducted on form load and submission using systems with varying RAM size (2GB, 4GB, and 8GB). Performance across these systems was documented.

[2019-09-07 09:02] #11 closed

[2019-09-07 09:04] #10 closed

[2019-09-07 09:08] #5 closed

[2019-09-09 09:14] ahmedsylvanus commented on #3
This has been done and the code committed to the Dev instance

[2019-09-09 09:15] ahmedsylvanus commented on #6
This has been done, and the code committed to the Dev instance.

[2019-09-09 09:15] #28 closed

[2019-09-09 09:17] ahmedsylvanus commented on #30
Going forward, creation of new concepts will be channeled via UMB. We will create requested concept and update the Concept dictionary, thus maintaining a Harmonized concept dictionary across all partners.

[2019-09-09 09:17] #30 closed

[2019-09-09 19:59] dkayiwa commented on #6
@ahmedsylvanus am reopening this until when some one posts here a link to the commit.

@arinzeeze did you commit this anywhere that am not yet aware of?

[2019-09-09 20:01] dkayiwa commented on #3
@ahmedsylvanus am reopening this until when some one posts here a link to the commit.

@arinzeeze did you commit this anywhere that am not yet aware of?

[2019-09-10 17:39] arinze1008 commented on #6
@dkayiwa I have created the pull request

[2019-09-10 22:59] dkayiwa commented on #6
@arinzeeze i have put comments for you on the pull request.

[2019-09-11 07:36] JohnboscoJbTech commented on #1
@henryvalentine can you describe the steps taken to resolve this, so that the issue can be closed. Regards

[2019-09-11 07:51] multiplechuks commented on #6
@arinzeeze @arinze1008 can you state the steps you used to achieve this

[2019-09-11 09:26] arinze1008 commented on #6
@dkayiwa,
The pull request is fine now. All checks have passed.

[2019-09-11 09:27] arinze1008 commented on #6
@multiplechuks
 https://wiki.openmrs.org/display/docs/Pull+Request+Tips

https://wiki.openmrs.org/display/docs/Using+Git

[2019-09-11 10:07] henryvalentine commented on #1
This task involves assigning various identifier types to patient depending on the program being enrolled into. I first created a .gsp fragment and a corresponding fragment controller (PatientIdTypeSetterFragmentController) to handle back-end requests. I then added the fragment information in the patient registration page metadata such that at the point of registration, different identifier types c

[2019-09-11 23:19] dkayiwa commented on #6
@arinzeeze you have comments to address on the pull request

[2019-09-13 11:40] caniekwe commented on #3
@arinzeeze was the modification commited? Can you put the link to the commit here for future reference

[2019-10-09 09:21] wonderfulguru1 opened #100 "ART forms now showing"
After updating with new database the ART forms are not showing  even when you enroll patients into the HIV Program. User have to fill form via the legacy interface @multiplechuks kindly look into this

[2019-10-09 09:49] multiplechuks commented on #100
@wonderfulguru1 can you confirm from the database you have, has the encounterType for `ART (antiretroviral therapy) Programs` as `11eb2647-91b4-482a-9cb3-08573e0d219b`.

Regards

[2019-10-09 10:04] wonderfulguru1 commented on #100
@multiplechuks  the DB contains 11eb2647-91b4-482a-9cb3-08573e0d219b instead for that encounter type HIV Enrollment

[2019-10-09 10:42] multiplechuks commented on #100
@wonderfulguru1 I have assigned this to you, plese letme know the outcome

[2019-10-09 18:52] wonderfulguru1 commented on #100
Updated the coreapp module from the git repo and it came up

[2019-10-09 18:52] #100 closed

[2019-10-10 15:54] wonderfulguru1 opened #101 "Encounter not showing after filling form for new patient"
Encounter not showing after filling form for new patients. only the visit date is displayed  and form can't be edited too.

The visit is not listed too as it used to

@multiplechuks  can u kindly look into this as this was working before.

[2019-10-11 10:08] Nnalda opened #102 "Future dates for INH Section of Commencement Form"
**Issue**
Future dates for INH stop date currently not allowing future dates.

**Solution**
INH stop date will definitely be in the future and should be allowed.

[2019-10-20 13:00] brightoibe opened #103 "EDD in Care Card does not allow Future Dates"
EDD question pops up when you select "Pregnant" for a patient. It did not allow future dates
Solution is to change the tag
<obs conceptId="5596" />
to
<obs conceptId="5596" allowFutureDates="true"/>

[2019-10-20 13:01] brightoibe commented on #103
Change the obs tag from
 <obs conceptId="5596" allowFutureDates="true"/>
to
 <obs conceptId="5596"/>

[2019-10-20 13:01] #103 closed

[2019-10-20 13:03] brightoibe opened #104 "Legacy Interface Dashboard for a Patient Refused to Show"
When you find a patient from the legacy interface the dashbord will not open. Legacy interface is still important for performing some vital test when you are doing data entry.

[2019-10-20 13:05] brightoibe commented on #104
The solution . The CLEAR NMRS.sql script for emptying the database did not clear the relationship table. Run the query "delete from relationship" to blank the relationship table

[2019-10-20 13:05] #104 closed

[2019-11-11 03:11] brightoibe opened #105 "Missing Second Line Regimen"
TDF-DTG-LPV/r   regimen combination not found on NMRS

[2019-11-11 03:13] brightoibe commented on #105
A concept need to be created for this regimen

[2019-11-11 10:20] ahmedsylvanus commented on #105
Can we have a list of Regimens they will require to see, so we don't keep going back and forth with this. Also provide all possible drug combinations for the regimens. This regimen was not included in the Harmonized regimen shared earlier

[2019-11-13 14:35] brightoibe opened #107 "NMRS does not allow Next Appointment Dates for backlog entries to Save"
JavaScript Validation code for Next Appointment Date compares the Next Appointment Date with the "Current System Date" instead of with the "Visit Date" on the form. This prevented backlog entries from Saving.

[2019-11-13 14:41] brightoibe commented on #107
var val_encounterDate = getValue('encounterDate.value');

Changed to

var val_encounterDate = getValue('visit_date.value');

Don't forget to change the "id" of the "Visit Date" field to
------------
<table>
        <tr>
            <td class="alnright">Visit Date</td>
            <td>
                <encounterDate default="now" id="visit_date" showTime="false" allowFutureDates="false" required="t

[2019-11-13 14:41] #107 closed

[2019-11-13 14:47] brightoibe opened #108 "DateReported (Viral Load Result Date) Concept should be made compulsory (Big implication for Viral Load Coverage)"
In the signature section of the Lab Order and Result Form, "Date Reported" (ConceptID=165414) should be made compulsory just like "Date Ordered". We noticed that Lab Order and Result Form can be submitted without entering the "Date Reported". This can affect your Viral Load Coverage figures if not effected.

[2019-11-13 15:02] brightoibe opened #110 "Remove "Visit Date" Default Date as "Today's Date""
Visit Date on most of the PMM forms usually appear with the current date by default.  This was done with the assumption that the "Data Entry Date" and the "Encounter Date" of PMM Forms will be the same date. But based on observed human behavior , DA's will submit the forms like that without changing. I propose that the deafult=now attribute in the tag;

<encounterDate default="now" showTime="false

[2019-11-13 15:04] brightoibe commented on #110
Remove default=now attribute in the;

<encounterDate default="now" showTime="false" allowFutureDates="false" />

for all PMM Forms

[2019-11-13 15:04] #110 closed

[2019-11-13 15:07] brightoibe opened #111 "Pulse and Temperature Missing From Care Card"
Pulse (Concept ID=5087) and Temperature (Concept ID=5088) which are key "Vital Sign" metrics are missing in the Vital Signs section of the Care Card. This need to be added

[2019-11-13 15:16] brightoibe opened #112 "Transferred In Status, TBStatus, Current Weight, Date of Current Weight, BiometricStatus need to be added on the RADET export query"
A few new variables need to be added on the RADET line listing report to improve its usability in data analysis for key indicators like TX_NEW, TX_CURR, TX_PVLS.

[2019-11-13 15:26] brightoibe commented on #105
Spoke with some Pharmacist and a Doctor the said the Regimen is not valid combination.

[2019-11-13 15:26] #105 closed

[2019-11-14 15:23] ahmedsylvanus commented on #86
All Legacy regimens have been added to NMRS and their associated drug combinations mapped.

[2019-11-14 15:23] #86 closed

[2019-11-26 20:23] multiplechuks opened #114 "NDR EXPORT MODULE LENGTHY TIME SOLUTIONS"
Am raising this issue here so that we can keep track of our different solutions as we discover them.

We need to kindly log the processes we used in achieving a smooth export of large NDR xml files from NMRS. The steps taken from **NMRS installation** to **Export**
process needs to include time taken and number of xml files generated

Feel free to tag any other person I forgot so that we can bette

[2019-11-27 14:28] #55 closed

[2020-01-24 14:22] abrahamolatubosun1973 opened #115 "Next appointment date has to be later than visit date on CareCard"
Hello house,

We are currently having issue with updating back-log on care card, during update you supply visit date (12/10/2019) and next appointment (15/12/2019) on clicking submit you get the following error **"Next appointment date has to be later than visit date"**.

From the HTML Editor, i have set allowFutureDates to True. Yet the issue is still there.

Kindly advice on the way forward.

Th

[2020-01-24 15:38] talk2morris commented on #115
Hello Abraham I just confirm the issue you raised. This was as a result of a hidden field in the html file that also points to encounterDate.
But this has been fixed. kindly download the fixed care card form here:

https://github.com/nmrs-nigeria/files_and_resources/commit/b720b5543eefa7bc44e5641c8c10954ade422d47

[2020-01-24 15:39] #115 closed

[2020-01-24 21:12] abrahamolatubosun1973 opened #116 "PBS ISSUE"
Hello all,

We notice that post deployment of NMRS and migration of Legacy data to NMRS, PBS suddenly stop working. All attempt to start and restart the services did not successfully start the PBS service uninstall and re-install didn't resolve it either.

Kindly advise way out

[2020-01-26 12:11] talk2morris opened #117 "Issue with empty tags for patient EducationalLevelCode when exporting from NMRS"
Due to feedback from IPs we noticed that the NMRS-NDR tool exports empty tags for unknown patient educationLevelCode.

[2020-01-26 12:12] talk2morris commented on #117
This has been fix and the omod file has been updated too.

[2020-01-26 12:12] #117 closed

[2020-01-30 06:12] abrahamolatubosun1973 commented on #117
Great work Chief Morris, we will surely download the omod and share

[2020-08-05 15:21] #3 closed

[2020-08-05 15:21] #6 closed

[2020-08-05 15:21] #18 closed

[2020-08-05 15:21] #25 closed

[2020-08-05 15:21] #64 closed

[2020-08-05 15:21] #83 closed

[2020-08-05 15:21] #95 closed

[2020-08-05 15:21] #97 closed

[2020-08-05 15:21] #101 closed

[2020-08-05 15:21] #108 closed

[2020-08-05 15:21] #114 closed

[2020-08-05 15:21] #1 closed

[2020-08-13 09:47] wandechris opened #126 "rename this module to openmrs-module-ndrintegration"
rename this module from "openmrs-module-nigeriaemr" to "openmrs-module-ndrintegration" to indicate what it does

[2020-08-15 07:48] henryvalentine opened #127 "NDR Extraction Message log"
Temiye, please have a look at the message log from the Extraction module (nigeriaemr-1.6.0-SNAPSHOT.omod) as attached here.

It seems the EDDAndPMTCTLink is having issues with Breast-feeding (BF) as a value as indicated by this error line:

"cvc-enumeration-valid: Value 'BF' is not facet-valid with respect to enumeration '[P, PMTCT, NP, NK]'. It must be a value from the enumeration."
[nmrs_1.6.omo

[2020-08-15 09:51] wonderfulguru1 commented on #127
@henryvalentine please send me the backup of this facility in a private email.

[2020-08-17 07:57] caniekwe commented on #127
@henryvalentine the second issue listed per StateCode is as a result of missing LGACode. Ensure LGACode is included and try again. That should resolve that part.
I also think the other issues are as a result of wrong data in the database. Validating the enums hences throws the error as per WHOClinicalStage. You may want to cross-check with the data dictionary to confirm you have the accurate value

[2020-08-17 14:07] wonderfulguru1 commented on #127
@henryvalentine  thanks for the feedback once again. It seems you are not using the most update DB kindly refer to the online instance you will notice some of your forms are different.  Especially the HIV Enrollment Form.
Please compare the online instance and make necessary adjustments. Thanks

https://nmrsdev.mgic-nigeria.org/openmrs/htmlformentryui/htmlform/enterHtmlFormWithStandardUi.page?pati

[2020-08-17 14:14] wonderfulguru1 commented on #127
The vital signs of the care card form have a Pregnant/Breastfeeding Status field and this is also missing in the DB you sent.
look here to see the correct form.
https://nmrsdev.mgic-nigeria.org/openmrs/htmlformentryui/htmlform/enterHtmlFormWithStandardUi.page?patientId=0b4a8b06-88a4-4dfd-b004-ac9398254210&visitId=&formUuid=5d522e63-463e-4a9f-a2c1-7ebbe4069a49&returnUrl=%2Fopenmrs%2Fcoreapps%2Fclin

[2020-08-18 08:08] caniekwe commented on #127
@henryvalentine have you confirmed the issues pointed out by @wonderfulguru1. Let us know if that resolves your issue so we can close this issue or provide you additional support to get this done.

[2020-08-18 17:51] henryvalentine commented on #127
@wonderfulguru1 please I have taken my time to compare this database forms with the online reference you pointed at but they are exactly the same.
If you are looking at it from a database explorer/management studio like SQLyog or workbench, I will suggest you do it from the forms on the interface.
I was a bit excited when I saw your messages and was like maybe that's why the EDDandPMTCTLink values

[2020-08-18 18:29] brightoibe commented on #127
@henryvalentine and Team. Welldone for the effort. The coded values of lgas and states are stored address_hierarchy_entry table.

[2020-08-18 18:40] wonderfulguru1 commented on #127
@caniekwe  the export plugin picks it if available  you can also  edit for a patient from here
https://nmrsdev.mgic-nigeria.org/openmrs/admin/patients/patient.form?patientId=62 for any patient that doesn't have

[2020-08-18 18:44] wonderfulguru1 commented on #127
@henryvalentine  please confirm you have breastfeeding field on the DB you sent me because  I didn't see the field on the DB you sent me. If you have confirmed you can resend and ensure you password it. Please check the care card form see the link again for a recheck

https://nmrsdev.mgic-nigeria.org/openmrs/htmlformentryui/htmlform/enterHtmlFormWithStandardUi.page?patientId=dec32a1f-eb2e-4b04-8c0

[2020-08-18 19:23] henryvalentine commented on #127
@brightoibe that is how it is on our databases. I only responded to @caniekwe in case there is an extra step I have to take to make the LGACode extracted by the extraction plugin

@wonderfulguru1 please have a look at the three images attached to this response and you will see the selection of the three pregnancy statuses from my localhost using the same database I sent you.

![brf](https://user-i

[2020-08-18 19:47] wonderfulguru1 commented on #127
@henryvalentine  thanks for the effort we might have to do a zoom then the same DB is giving this image

![image](https://user-images.githubusercontent.com/6815443/90558400-ef552c00-e193-11ea-92f8-cdf32bc114da.png)

[2020-08-18 19:51] wonderfulguru1 commented on #127
@henryvalentine  please when can we do zoom for us to check thing together, It will really help. thanks.
hope you can update LGAcode now

[2020-08-18 19:55] wonderfulguru1 commented on #127
@brightoibe  thanks for your help and support please have you tested your feedback will really help.

[2020-08-18 19:59] henryvalentine commented on #127
@wonderfulguru1 I am currently in Lagos and my network is really not strong in the hotel i'm staying but we might give it a try now. Just give me a call or share a zoom link

[2020-08-18 20:21] henryvalentine commented on #127
@wonderfulguru1 please use a female patient and you will see the pregnancy status drop-down become visible. You are not seeing it because you selected a male patient according to the image you attached to your response

[2020-08-18 20:32] henryvalentine commented on #127
Morover, the LGACodes have always been available in the address_hierarchy_entry table except there were unpublished changes. What @brightoibe scripted and sent to me about an hour ago is what we have in our databases.

[2020-08-18 20:42] brightoibe commented on #127
@wonderfulguru1 this is noted. I will get back to you soon.

[2020-08-19 08:57] wandechris commented on #127
@henryvalentine were any files produced when you run the NDR export? or does it just fail outrightly

[2020-08-19 09:00] wandechris commented on #127
@henryvalentine  and Team please when sharing screenshot here, Kindly remove the name of the patient and the hospital,  this is a public forum that anyone can run into. Let's keep the patient anonymous.

@henryvalentine please remove and re-upload the screenshot without the name
Thank you

[2020-08-19 10:07] wandechris commented on #127
@henryvalentine the error `cvc-type.3.1.3: The value 'BF' of element 'EDDandPMTCTLink' is not valid.` is a warning that the value `BF` should not be in that field because it's not in the xsd. here is the section defining `EDDandPMTCTLink` in the xsd in the code.
`<xs:element name="EDDandPMTCTLink" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation xml:lang="en">
						Code tha

[2020-08-19 10:14] wandechris commented on #127
the updated one is uploaded already
https://github.com/nmrs-nigeria/files_and_resources/tree/master/Release/nigeriaemr/1.6.0

@wonderfulguru1 kindly replace the XSD we have in the source

[2020-08-19 11:01] henryvalentine commented on #127
@brightoibe that is how it is on our databases. I only responded to @caniekwe in case there is an extra step I have to take to make the LGACode extracted by the extraction plugin

@wonderfulguru1 please have a look at the three images attached to this response and you will see the selection of the three pregnancy statuses from my localhost using the same database I sent you

![brf](https://user-im

[2020-08-19 11:21] henryvalentine commented on #127
Thanks @wandechris for the updates on the xsd...I look forward to testing again and providing feedback with a 'thumbs up'

[2020-08-20 07:27] wonderfulguru1 commented on #127
@wandechris  thanks for this

[2020-08-20 09:09] wandechris opened #128 "Fail NDR Export when critical data is not configured"
Files are generated with missing data that should have been configured.
Let's run a precheck of the data and fail the process if any of then is missing,

Example of critical data is

`partner_reporting_state`
`partner_reporting_lga_code`

[2020-08-20 11:50] brightoibe commented on #128
Hello Team, why is UNKNOWNUNKNOWN apearing on the XML file names. I thought we are using DATIMCODE_PEPFARID_TIMESTAMP.xml as the names of the individual files.

[2020-08-20 11:55] wandechris commented on #128
@brightoibe UNKNOWN is appearing because `partner_reporting_state` and `partner_reporting_lga_code`  is not configured in global property, the filename has changed to

`IPReportingState + IPReportingLgaCode + "_" + DATIMID + "_" + formattedDate`

@wonderfulguru1 please let me know if I missed anything

[2020-08-20 12:04] brightoibe commented on #128
So, It means if your IP is in 4 states for example, all the NMRS instance in those states will be configured to have different "partner_reporting_state" and "partner_reporting_lga_code". I feel this will not be convinient. Is it posible for "State" and "LGA" to be calculated from DATIMID from NDR end. We want to make configuration and set up as user friendly as posible. To reduce errorts

[2020-08-20 12:10] brightoibe commented on #128
Hello Team,

Can Viral Loads accept "decimals" now?

[2020-08-20 12:13] wonderfulguru1 commented on #128
@brightoibe    this was suggested by @caniekwe  and he explained why during the last meeting you may want to bring this up again with him

[2020-08-20 12:15] wandechris commented on #128
is it supposed to, you can raise another issue to address this

[2020-08-20 12:16] wonderfulguru1 commented on #128
I Guess the form  team @enumahin and @teggsdgreat  can throw better light on this but if the form can accept it then pulling via the export plugin won't be an issue

[2020-08-20 12:16] wandechris commented on #127
@henryvalentine
@wonderfulguru1 has shared an updated build, kindly test again to confirm the fix

[2020-08-20 12:26] brightoibe opened #130 "Decimals for Viral Loads Results in the 1.6 xsd"
Hello Team,

Is it Ok for us to edit the xsd to allow all numeric lab tests to accept decimals? I believe this will give us more flexibility than forcing all of them to be casted to integers.

[2020-08-20 12:45] brightoibe opened #131 "Calculating partner_reporting_state, partner_reporting_lga_code from NDR END"
Hello Team,
I feel that asking the state people to change each NMRS instance partner_reporting_lga_code as they deploy from one LGA to the other may not be user friendly. Am proposing that the individual xml files be named

 DATIMID +"_" +PEPFARID +"_"+TIMESTAMP.xml

NDR uses the DATIMID to calculate

partner_reporting_state
partner_reporting_lga_code

for each facility. This will make configurati

[2020-08-20 12:54] wandechris commented on #130
@brightoibe no, you can't edit it. the Xsd is the specification from NDR because that's what NDR is expecting. all changes will need to come from them.

[2020-08-20 12:54] wandechris commented on #130
@ahmedsylvanus @caniekwe is this something that needs to be prioritized?

[2020-08-20 12:55] wandechris commented on #131
@ahmedsylvanus @caniekwe kindly advise

[2020-08-20 13:02] brightoibe opened #132 "XSD File Not Well Formed."
Online XSD validation tool kept saying that the XSD file below

https://github.com/nmrs-nigeria/files_and_resources/blob/master/Release/nigeriaemr/1.6.0/NDR%201.6.xsd

is not well formed. Until I changed the header from `<?xml version="1.0" encoding="utf-8" ?>` to `<?xml version="1.0" encoding="UTF-8" standalone="yes"?>`
Please help verify that the XSD is well formed @wandechris @talk2morris @wond

[2020-08-20 13:06] wandechris commented on #132
@brightoibe some text is omitted from your post

[2020-08-20 13:19] brightoibe opened #133 "PepfarID of a lot of patients are not showing on the XML"
Hello Team,

I noticed that PepfarID of lots of patients are not showing on the XML file. Your PEPFAR ID will not show if the DA did not check it as the Preferred ID. I believe this will cause a lot of problems. I was able to narrow the problem down to where it occured on the source code.

https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/blob/f8a41a4227c3a95d2628d0ffb27020c48bcec921/omod/

[2020-08-20 13:45] brightoibe opened #134 "Warning Messages for LGA and State at NDR Validation Level"
Hello @wandechris @caniekwe @talk2morris @wonderfulguru1 . I noticed that thousands of patients in my database are failing this validation
'<xs:element name="StateCode" type="CodeType" minOccurs="1" maxOccurs="1">'
'<xs:element name="LGACode" type="CodeType" minOccurs="1" maxOccurs="1">'
and many of these patients are LTFU, some Transferred Out, Also some Active patients because of Stigma will not

[2020-08-20 14:16] wandechris commented on #134
the validations are because they are missing in the XML, it doesn't stop the file generation process

[2020-08-21 01:49] henryvalentine commented on #127
@wonderfulguru1 the 'BF' flag doesn't show up again. However,  the following are still flagged during extraction:

cvc-type.3.1.3: The value 'I' of element 'WHOClinicalStage' is not valid.
LINKED EXCEPTION:  org.xml.sax.SAXParseException; lineNumber: 0; columnNumber: 0; cvc-type.3.1.3: The value 'I' of element 'WHOClinicalStage' is not valid.

cvc-enumeration-valid: Value 'I' is not facet-valid wi

[2020-08-21 08:34] wandechris commented on #127
@henryvalentine the UNKNOWN is showing because you've not configured `partner_reporting_state` and `partner_reporting_lga_code` in global property

see details here
https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/issues/128#issue-682552114

I can't see the `WHOClinicalStage` error in the log you sent.

and you're seeing the stateCode error because the patient doesn't have StateCode or LG

[2020-08-24 10:20] caniekwe commented on #127
@wonderfulguru1 I believe @henryvalentine request is valid. You can include it in your to do list. If the original issues reported in this thread has been resolved, then I suggest we close this.

[2020-08-24 10:25] caniekwe commented on #133
Thank you @brightoibe for bringing this up. @wonderfulguru1 please look into this. Also confirm that this code is not picking any preferred ID to be the pepfarid in the latest release version. If it is, I think the code suggestion by @brightoibe should resolve this.

[2020-08-24 10:27] caniekwe commented on #134
@brightoibe may I suggest you begin working with your DAs to clean up the data beginning with the active patients

[2020-08-24 10:27] dkayiwa commented on #133
Great to see activity again on this module. 😊

[2020-08-24 10:32] caniekwe commented on #131
This process does not have any impact whatsoever on the data. Its just a file naming convention. Having the state and lga is also useful for tracking files and troubleshooting. I also do not think this will take any significant amount of effort considering that it is a one off step.
@brightoibe can you provide scenarios how you think this will impact user experience?

[2020-08-24 10:34] caniekwe commented on #130
I agree with you @wandechris. The XSD should not be edited. The viral load is an integer value and not decimal. or Do you have decimal viral load results in your EMR @brightoibe

[2020-08-24 10:39] caniekwe commented on #128
@wonderfulguru1 I believe we can close this issue now since the different issues raised are being addressed by https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/issues/130 and https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/issues/131

[2020-08-24 10:41] wandechris commented on #128
@caniekwe the purpose of this issue is to fail the process if LGAand state is not configured or have an UNKNOWN value

[2020-08-24 12:28] brightoibe commented on #130
@wandechris and Team. I agree this may not be a change we can make now because other non-CDC partners are using the same schema. My sugestions was that since "ValueNumeric" is used to hold both integers lab tests and float lab tests, it will be nice if we make it a decimal type because a decimal type can contain floats. There are a number of lab tests that can have floats in our lab forms and all

[2020-08-24 12:38] brightoibe commented on #131
Thank you @caniekwe for your comments. You may recall the recall the nightmare we went through to configure DATIMIDs on the global properties, "Upper Case, Lower Case",embedded spaces and even wrong DATIM IDs. Also remember that some IPs are operating in lots of LGA, meaning that for each you have to return there and configure an LGA and State Code for all the NMRS instances. @wandechris, @wonderf

[2020-08-24 12:44] wonderfulguru1 commented on #133
@brightoibe thanks  for your observation I will look into this and revert the line you specified can't be changed to what you  specified as we are pulling deleted and non deleted patients and this service doesn't offer that.

[2020-08-24 13:00] wonderfulguru1 commented on #133
@caniekwe  I will also what to suggest we have Is_Preferred flag on the  schema  to  distinguish the preferred ID from other ID'S
this will solve the issue totally as we can't say which IP  prefer which ID

[2020-08-24 13:08] wonderfulguru1 commented on #127
@caniekwe   thank you for the comments do you suggest we change to this Kaduna_397_uq98eMvdS5R_210820.zip.
@ahmedsylvanus  suggested we have this way Kaduna397_uq98eMvdS5R_210820.zip

[2020-08-24 13:49] wandechris commented on #128
@wonderfulguru1 the purpose of this issue is to stop the process if UNKNOWN is configured to avoid creating files

[2020-08-24 13:51] wandechris commented on #131
@brightoibe is there a dictionary for this mapping?

cc @caniekwe @ahmedsylvanus

[2020-08-24 14:16] brightoibe commented on #131
Thank you @wandechris . We can create a standard "facilities" table with state,lga and datim codes as sql file and preload into the NMRS database. When the plugin looks up your DATIM code on that table it will get your LGA and State Code automatically and use it to name all the XML files.

[2020-08-24 14:18] wandechris commented on #131
@brightoibe I'm asking is there's any that exists today, that can be converted into the SQL

[2020-08-24 14:27] brightoibe commented on #131
@wandechris Thank you. There is none. The site list I have is IHVN specific. The best place to get facility listing across IP is from the NDR facility list. If you dump the NDR site list in Excel, we can turn it into MySQL compatible SQL script and preload into all NMRS instances using the meta-data module. This will reduce the error of assigning wrong LGA code or State Code to a facility.

[2020-08-24 20:06] talk2morris commented on #130
@brightoibe I understand you point even though any change to the NDR XSD needs to go through proper documentation before any change gets in, in addition to what you observe, I would propose a string type on NMRS and NDR and the reason is because from my experience with LIMS the testing machine can sometimes produce results such as >10000000, <20, 'sample not detected' as valid results and these ar

[2020-08-25 08:31] wonderfulguru1 commented on #130
I will want to agree with @talk2morris  on this. but the issue accepting string is that these results are used for calculations like Eligibility, Viral load suppression  e.tc, so how would you calculate with >10000000 or  <20.

[2020-08-25 08:51] brightoibe commented on #130
Hello Team. How about making striping the `>` and `<`  from the string and converting then to decimals, so we can still use it for different kinds of analysis. E.g if your viral load is "<20" then it should be stored as 20, as long as the health program is concerned, anything 20 and below is undetected.

[2020-08-25 08:54] wandechris commented on #131
@brightoibe this is addressed by this PR https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/pull/135

a table will be created in openmrs and `statecode` and `lgacode` will be retrieved using the already configured `datimid`

[2020-08-25 08:56] wandechris commented on #134
@brightoibe can i close this issue or do you have any other concern

[2020-08-25 09:00] wandechris commented on #130
@brightoibe that will be on the NDR level, NDR might want to account for those extras, it's not right for the plugin to truncate it

[2020-08-25 09:00] brightoibe commented on #131
Thank you very much @wandechris and Team for the effort. This will save us a lot of stress. The issue can now be closed.

[2020-08-25 09:06] wandechris commented on #131
@brightoibe kindly take some time to review the pr too :)

[2020-08-25 12:44] wandechris commented on #133
Hi @dkayiwa how can I contact you?

[2020-08-25 12:52] dkayiwa commented on #133
Just like you have done. 😊

[2020-08-25 12:59] wandechris commented on #133
@dkayiwa ...lol, I wanted to ask how we can get access to publish our artifact to openmrs nexus repo

[2020-08-25 13:33] dkayiwa commented on #133
Feel free to ask on OpenMRS Talk.

[2020-08-26 05:00] abrahamolatubosun1973 opened #138 "NMRS FRONT END VALIDATION FUNCTIONALITIES"
### **Issues**
1. We noticed that follow up visit can be updated on clients who are either Dead or transferred out even when the client is no longer active in the program
2.	During updating, a client can be mistakenly or intentionally switched from one regimen to another without any flag from the NMRS
3.	During updating, we discovered that pregnancy status and breastfeeding can be assigned to pedi

[2020-08-26 08:04] #134 closed

[2020-08-26 08:11] wandechris commented on #132
@brightoibe different online validators use a different format for validations, if the XML sent to NDR is fine, then it's well-formed.

also, the XSD comes from NDR.

[2020-08-26 14:43] caniekwe commented on #133
My understanding is that the Is_Preferred flag shouldn't be have any effect on this. Irrespective of what people prefer, hospital number is still hospital number and ART number/PEPFAR id is still ART number/pepfar number.

[2020-08-26 14:47] caniekwe commented on #130
My suggestion here is to let NDR worry about NDR issues. Whatever standard NDR sets for us, we follow. If the standard set by the NDR does not work for us, then we raise it with the NDR and not from the EMR

[2020-08-26 14:54] caniekwe commented on #127
@wonderfulguru1 The former will be my preference. But I will recommend we check the NDR implementation guide and follow the guidance provided there.

[2020-08-26 19:23] brightoibe commented on #130
Good evening @caniekwe @wandechris and Team. I just got a report from site today that they saw Viral Loads with decimals. These decimals usually reduce concurrence rate when they M&E teams compare NDR and EMR. I think we need to talk to a Lab person on this. Thank you

[2020-08-27 11:43] wonderfulguru1 opened #139 "Include TB and OI regimens"
Hello Team,

@ahmedsylvanus  noticed that  TB and OI regimens are not pulled adequately during extraction. @wonderfulguru1  and @tobstech  should kindly look into this.

[2020-08-28 12:16] brightoibe opened #141 ""Timestamping" the container object to detect deleted encounter"
Am proposing a new attribute called "change_timestamp" to be added to the container of every patient's xml. NDR maintains a timstamp history of all patients. If the timestamp on your XML is different from the timestamp on NDR, NDR will consume all your records as "INITIAL". But if the timestamp on NDR is the same as the timestamp on the container, it means no change has happend to your record, NDR

[2020-08-28 12:19] wandechris commented on #141
@brightoibe is this not the purpose of INITIAL and UPDATE flag on the current export, if the timestamp is the same, then the patient XML shouldn't have left the emr in the first place

[2020-08-28 12:21] brightoibe commented on #141
This is to completely eliminate the need to store anything in the global properties. The process will be completly automated. All XML files are exported at every export but only the files with a "change in their timestamp" are consumed by NDR.

[2020-08-28 12:23] brightoibe commented on #141
Scenerio 1 : 10,000 XML files are exported by the plugin, NDR checks the timestamp property in the container of each XML file before consuming the file, if your timestamp has changed from what it was the last time, your file is elibile for consumption, if your timestamp is still the same from what it was the last time then your file is not eligible for ingestion.

[2020-08-28 12:26] brightoibe commented on #141
The plugin scans all the tables where a change is likely to occur e.g (patient, person, person_address, patient_program, obs, encounter,etc) and gets the maximum date_created or date_modified across all these tables to create a variable called "change_timestamp" which is stored as the attribute of the container.

[2020-08-28 12:28] brightoibe commented on #141
This implication of this is that NDR will do a full ingestion of any XML file that is eligible for ingestion discarding any previous record that patient had in the past.

[2020-08-28 12:29] brightoibe commented on #141
This will solve the problem of constant requests for sites to be droped on NDR and get us to achieveing 100% concurrence between EMR and NDR

[2020-08-28 12:31] wandechris commented on #141
this approach will bring new problems
1. each export will take a very long time to complete because all patient data will be exported.
2. why export 1000 patient data when there's a chance none of them is needed.
3. we'll be transferring the task of selecting the only patient that changes to the NDR when it's easier done on the NMRS level.

the solution is for the `NDR_last_run_date` to not be mod

[2020-09-05 08:39] henryvalentine commented on #127
@wonderfulguru1 and team well-done for the good job.
For the latest version 1.6 omod released, I observed that once a patient is female, all the EDDAndPMTCTLink statuses have Breast Feeding (BF) as their values. When the patient is pregnant, it is marked as 'P' which is correct. Is BF now the default value for EDDAndPMTCTLink ?

[2020-09-11 08:54] wandechris commented on #133
@wonderfulguru1 what's the status on this?

[2020-09-17 12:30] henryvalentine commented on #127
@wonderfulguru1 please this is a gentle reminder on this observation

[2020-09-17 12:45] wonderfulguru1 commented on #127
@henryvalentine  we will test this further and ensure it's fixed in the next update

[2020-09-21 14:28] henryvalentine commented on #127
@wonderfulguru1 kudos for the good job and I can say we are getting there gradually.

I still have the following observations and concerns:

Though the LGACode and State Code are included as the names of the zip archive and also in each XML file, the message below is still persisting
"MESSAGE:  cvc-complex-type.2.4.a: Invalid content was found starting with element 'StateCode'. One of '{WardVillag

[2020-09-22 10:56] enumahin opened #146 "Mapping manually entered care entry point as NDR drops care entry points like "<Setting>CBO</Setting>""

[2020-09-22 12:46] wandechris commented on #139
@wonderfulguru1 @michaelnnakwe  is this done?

[2020-09-24 01:20] #146 closed

[2020-09-29 21:45] ahmedsylvanus opened #147 "Replace Non-ART Regimen type with OI"
In view of standardizing our regimen and regimen type data, it will be best to stick to the NDR data dictionary. Let's have the Regimen type Non-ART replaced with Regimen type OI.

[2020-10-02 09:40] brightoibe opened #149 "Wrong Mapping in Pregnancy Status in ClinicalDictionary"
There is a wrong mapping on the Pregnancy/Breastfeeding Status on the ClinicalDictionary.java class line 246, 247 and 248.

165048 (Pregnant) ---- P
165049 (Breastfeeding) ----NP (Instead of BF)
165047 (Not Pregnant) ---- BF

This is supposed to be mapped like this

165048 (Pregnant) ---- P
165049 (Breastfeeding) ----BF
165047 (Not Pregnant) ---- NP

@wandechris , @talk2morris , @caniekwe , @henry

[2020-10-02 09:51] brightoibe commented on #149
Also put a comment on Pregnancy on that section just like the other ones so it can be easy to locate

[2020-10-16 13:49] wandechris commented on #149
@wonderfulguru1 this can be closed out

[2021-02-05 17:34] brightoibe opened #189 "Dead Patient Status Not Included In <HIVQuestions> tag"
Hello Team,

Our clinical team pointed out something they observed during the LTFU tracking at facility level. They complained that patients with definite outcomes in the Client Tracking and Termination Forms are still showing up as "inactive" on NDR line listing. A deep dive into the createHIVQuestionType() method of the NDRCommonQuestionsDictionary.java shows that there could be a bug in the 1.6

[2021-02-05 17:49] brightoibe opened #190 "Stop Treatment Not Mapped to the Right NMRS Concept <HIVQuestionsType>"
Hello Team,

From what I observed in line 725 of the NDRCommonQuestionsDictionary.java. "Stopped Treatment" was mapped to the concept
165586 - Patient Care In Facility Terminated (Yes/No) . That variable is usually filled "Yes" even for Dead and Transferred Out patients. Stopped Treatment should rather be mapped to  **Reason for Termination (165470) - Discontinued Care (165916)**.
Please feel free

[2021-02-19 08:29] wandechris opened #192 "ART start date"
art start is currently picked from enrollment form instead of commencement form

[2021-02-19 08:36] wandechris opened #193 "include ‘terminated’ or ‘ not terminated’ in ndr export plugin error list"

[2021-02-19 12:17] wandechris opened #194 "do not export deleted patients with a corresponding active patient"

[2021-02-26 09:52] wandechris opened #199 "trailing close bracket in LGA code"
SELECT * FROM openmrs.address_hierarchy_entry where user_generated_id = 73;

this entry contains a trailing closed bracket and breaks extracted XML file

[2021-03-09 08:40] wandechris opened #200 ""Within 72 hrs of facility delivery" is not a valid value for TimingOfARVProphylaxis"
pmtctDictionary.put(165860, "Within 72 hrs of facility delivery");

[2021-03-11 13:17] wandechris commented on #192
this is currently a non issue because they both use the same conceptId and will be picked accordingly

[2021-03-11 13:17] #192 closed

[2021-03-11 13:17] #199 closed

[2021-03-11 13:17] #193 closed

[2021-03-11 13:17] #194 closed

[2021-03-12 14:44] brightoibe opened #207 "Date Enrolled Into Care points only to DATE_CONFIRMED_POSITIVE instead of patient_program table"
Hello Team we observed that the plugin does not pull EnrollmentDates entered into the HIVEnrollmentForm. Date Enrolled Into Care was pointed to DATE_CONFIRMED_POSITIVE as defined in this code base.

`
 public static Date extractEnrollmentDate(Map<Object, List<Obs>> groupedpatientBaselineObsByConcept) {
		Date enrollmentDate = null;
		List<Obs> obsList = groupedpatientBaselineObsByConcept.get(Utils

[2021-03-12 18:14] #133 closed

[2021-03-12 18:15] #189 closed

[2021-03-12 18:15] #147 closed

[2021-03-12 18:15] #139 closed

[2021-03-12 18:17] #149 closed

[2021-03-12 18:25] #127 closed

[2021-03-12 18:26] #132 closed

[2021-03-12 18:28] #141 closed

[2021-03-17 05:52] brightoibe opened #213 "PrescribedRegimenTypeCode "OI" not recognized. This should be changed to NONART"
All OIs exported on the XML inside the "Regimen" tag with PrescribedRegimenTypeCode of OI is being flagged by the NDR plugin.

[2021-03-17 06:44] brightoibe commented on #213
`   try {
                //set type code
                if (obs != null && obs.getObsGroup().getConcept().getConceptId() == OI_regimen_Concept_set) {
                    regimenType.setPrescribedRegimenTypeCode("OI");
                } else if (obs != null && obs.getObsGroup().getConcept().getConceptId() == TB_regimen_Concept_set) {
                    regimenType.setPrescribedRegimenTypeCode("T

[2021-03-17 07:42] wandechris commented on #213
Hi @brightoibe  what version of export plugin was this, please provide the sample file that failed?

[2021-03-17 07:55] brightoibe commented on #213
[33550_Ke1y8vsmeC4_RIV20700500_260121.zip](https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/files/6154596/33550_Ke1y8vsmeC4_RIV20700500_260121.zip)

[2021-03-17 08:03] wandechris commented on #213
@wonderfulguru1  please take a look at this

[2021-03-17 09:39] brightoibe commented on #213
This is the beta version of 1.6.3

[2021-03-18 10:55] wonderfulguru1 commented on #213
@brightoibe I just validate the file with XSD 1.6.3 and it went through I discover one regimen encounter didn't have prescribed regimen tag so it got flagged

[2021-03-18 13:15] brightoibe commented on #213
Please can you validate against XSD 1.6.2 because that is the current XSD used by the plugin version 1.6.2

[2021-03-20 07:58] brightoibe opened #214 "TDF-3TC-EFV400 (ConceptID =165686) Not Mapped on ClinnicalDictionary"
NDR plugin is unable to Code this regimen because it has not been mapped in the ClinicalDictionary. Also don't forget to map the description of the regimen.

Solution
line 58 on the method loadDictionary()
we need to add this line
` map.put(165686, "1e") `

[2021-03-23 12:09] wonderfulguru1 commented on #214
@brightoibe   thank you bring this up. This has been added.

[2021-04-19 20:10] ahmedsylvanus opened #215 "ARV Drugs extracted as Regimen"
ARV drugs with the following codes are being extracted as regimen. Only documented regimens should be extracted as ART regimens, the following code mappings should be commented out.

(80586, "9c"), (630, "9d"), (104567, "9f"), (161363, "9g"), (166075, "9h")

[2021-05-04 22:46] brightoibe opened #217 "Viral Load extraction bug"
There is the posibility that the plugin does not export complete viral load. More details to be added soon.

[2021-05-05 13:55] brightoibe opened #218 "Data source for SampleCollectionDate and ReportedDate"
Welldone APIN Team,
We have observed that the data source from SampleCollectionDate and ReportedDate on the
https://github.com/nmrs-nigeria/openmrs-module-nigeriaemr/tree/72_hrs_of_facility_delivery_fix
branch of the the plugin. We are proposing that;

SampleCollectionDate be mapped to **concept 159951** if present **or encounter_datetime**  or **obs_datetime of the Viral Load** abscent

ResultedD

[2021-05-13 21:18] #200 closed

[2021-05-13 21:19] wonderfulguru1 commented on #217
@brightoibe please  has  this been resolved with the new release

[2021-05-13 21:22] #213 closed

[2021-05-14 00:14] abrahamolatubosun1973 opened #219 "ISSUES FROM NMRS XML Export Plugin Version 1.6.2.2 Beta Release"
Hi Temiye,

Good morning, hope you had some rest after all the hard work. On receiving the new NMRS plugin 1.6.2.2 snapshot, we quickly test it with a facility that we had some complaints to report especially wrong PBFW showing up as NP verse verser, we found that this was corrected.

Something very fascinating shows up, a patient with well documented care card and pharmacy form was extracted but

[2021-06-16 09:01] wonderfulguru1 opened #220 "9. MessageHeader;"
a. Change MessageSchemaVersion data type to String

[2021-06-16 09:01] wonderfulguru1 opened #221 "HIVQuestions;"
ReasonStoppedTreatment coded values was reduced from 1 – 10, to 1 – 4

[2021-06-16 09:01] wonderfulguru1 opened #222 "HIVEncounter;"
a. StoppedRegimen with type Boolean
b. DateStoppedRegimen with type date
c. ReasonForStoppedRegimen with code type (1 to 10 )

[2021-06-16 09:03] wonderfulguru1 commented on #220
Change version to 1.6.3

[2021-06-16 09:04] wonderfulguru1 opened #223 "EAC Tag creation"
1. Add a new Tag EAC under conditions tag
2. VisitDate with type date
3. VisitID with type string
4. DateofAssessment with type date
5. EACSessionType with type coded values
6 ARVPlan with type coded values

[2021-06-16 09:06] wonderfulguru1 opened #224 "8. HTS;"
a. Remove IndexNotification from HIVTestingReports tag

[2021-06-16 09:06] wonderfulguru1 opened #225 "Generate Models and push to git"

[2021-06-16 09:07] wonderfulguru1 opened #226 "Change the schema version of the export plugin to 1.6.3"

[2021-06-16 09:07] wonderfulguru1 opened #227 "6. HIVEncounter;"
a. MethodofTBDiagnosis

[2021-06-16 09:08] wonderfulguru1 opened #228 "7. PatientDemography;"
a. Make PatientIdentifier not required
b. Make Address Type Code not required

[2021-07-14 16:12] wonderfulguru1 commented on #190
Dear APIN Team. Kindly look into this issue as re-stated by @brightoibe

[2022-05-03 18:56] gracepotma commented on #84
Hi there, can anyone share a link / file of the documentation about this data migration utility tool?

[2022-10-01 10:50] Ayeni002 commented on #226
This omid did not work on community hts database